<div class="container">
    <div class="header">
        <h1 class="title">Clientes</h1>
    </div>
    <div class="estado-cliente">
        <button class="ui-button-estado">
          <div class="add-text">
            <span><strong>Estado: </strong><a style="color:red">Demorado</a></span>
          </div>
        </button>
    </div>
    <!-- Logo del cliente -->
    <div class="logo-cliente">
        <img class="img" src="../../../../assets/imgs/clientes-particular/Farmacity_logo.png" >
    </div>
    <!--info sobre el cliente /bloqueo -->
    <div class="info-cliente">
        <img class="icono" src="../../../../../assets/icons/info.svg"> <a href="" ><div class="link-cliente"><span>Acerca de {{this.cliente}}</span></div></a>
    </div>
    <div class="bloquear-cliente">
        <img class="icono" src="../../../../../assets/icons/canceladas.svg"> <a href="" ><div class="link-cliente"><span>Bloquear</span></div></a>
   </div>

 <!-- Campanias  -->
  <div class="campanias-activas">
  
    <div class="ui-tarjeta">
        <div class="header-titulo">Campañas Activas</div>
       
        <div class="content">
            <div class="left-content">
              <div class="left-content-1">
                <img src="../../../../assets/icons/campanias-activas.svg" alt="Icono de campanias">
              </div>
              <div class="left-content-2">
                <span>2</span>
              </div>
            </div>
            <div class="right-content">
              <div class="right-content-1">
                <img class="img" src="../../../../assets/icons/arrow-up-green.svg" alt="Icono de arrow-up">
              </div>
              <div class="right-content-2">
                <span class="img">+ 10,00%</span>
              </div>
            </div>
          </div>
          <div class="pie">
            <div class="left-pie"></div>
            <div class="right-pie">
              <a class="ui-link">Ver listado ></a>
            </div>
          </div>
    
        </div>
    </div>  
    <!-- Total Misiones -->
    <div class="total-misiones">
        <div class="ui-tarjeta">
            <div class="header-titulo">Total Misiones</div>
            <div class="content">
                <div class="left-content">
                  <div class="left-content-1">
                    <img src="../../../../assets/icons/misiones-disponibles.svg" alt="Icono de misiones disponibles">
                  </div>
                  <div class="left-content-2">
                    <span>1.402</span>
                  </div>
                </div>
                <div class="right-content">
                  <div class="right-content-1">
                    <img class="img" src="../../../../assets/icons/arrow-up-green.svg" alt="Icono de arrow-up">
                  </div>
                  <div class="right-content-2">
                    <span class="img">+ 10,00%</span>
                  </div>
                </div>
              </div>
              <div class="pie">
                <div class="left-pie"></div>
                <div class="right-pie">
                  <a class="ui-link">Ver listado ></a>
                </div>
              </div>
        
            </div>
        </div>  
        <!-- Misiones en revision -->
    <div class="misiones-revision">
        <div class="ui-tarjeta">
            <div class="header-titulo">Misiones en revisión</div>
            <div class="content">
                <div class="left-content">
                  <div class="left-content-1">
                    <img src="../../../../assets/icons/revisar-misiones.svg" alt="Icono de misiones en revision">
                  </div>
                  <div class="left-content-2">
                    <span>48</span>
                  </div>
                </div>
                <div class="right-content">
                  <div class="right-content-1">
                    <img class="img" src="../../../../assets/icons/arrow-up-green.svg" alt="Icono de arrow-up">
                  </div>
                  <div class="right-content-2">
                    <span class="img">+ 10,00%</span>
                  </div>
                </div>
              </div>
              <div class="pie">
                <div class="left-pie"></div>
                <div class="right-pie">
                  <a class="ui-link">Ver listado ></a>
                </div>
              </div>
        
            </div>
        </div>  
        <!-- Total reclamos -->
        <div class="total-reclamos">
            <div class="ui-tarjeta">
                <div class="header-titulo">Total Reclamos</div>
                <div class="content">
                    <div class="left-content">
                      <div class="left-content-1">
                        <img src="../../../../assets/icons/eliminar.svg" alt="Icono de misiones en revision">
                      </div>
                      <div class="left-content-2">
                        <span>5</span>
                      </div>
                    </div>
                    <div class="right-content">
                      <div class="right-content-1">
                        <img class="img" src="../../../../assets/icons/arrow-up-green.svg" alt="Icono de arrow-up">
                      </div>
                      <div class="right-content-2">
                        <span class="img">+ 1,26%</span>
                      </div>
                    </div>
                  </div>
                  <div class="pie">
                    <div class="left-pie"></div>
                    <div class="right-pie">
                      <a class="ui-link">Ver listado ></a>
                    </div>
                  </div>
            
                </div>
            </div>  

            <!-- Grafico -->
             <div class="grafico-barras">
                <div class="ui-grafico-barras">
                  <div class="content">
                    <div class="left-content">
                      <div class="left-content-1">
                       <div class="header-titulo">Linea de crédito: </div> 
                       <br>
                       <div class="header-titulo">Crédito disponible: </div> 
                       <br>
                       <div class="header-titulo">Pendiente de cobro mes: </div>  
                       <br> 
                       <div class="header-titulo">Deuda acumulada: </div>
                     </div>
                     
                  </div>
                  <div class="barras-content">
                    <div class="progress-bar">
                      <div class="progress-bar-fill" id="barra1" ></div>
                    </div>
                    <br>
                    <div class="progress-bar2">
                      <div class="progress-bar-fill" id="barra2" ></div>
                    </div>
                    <br>
                    <div class="progress-bar3">
                      <div class="progress-bar-fill-rojo" id="barra3" ></div>
                    </div>
                    <br>
                    <div class="progress-bar4">
                      <div class="progress-bar-fill-rojo"  id="barra4"></div>
                    </div>
                  </div>
                  <div class="content-right">
                    <div class="col-sm">
                      <div class="row">
                        <div class="header-titulo">$5.000.000 </div>
                      </div>   
                      <br>
                      <div class="row">
                        <div class="header-titulo">$3.800.000 </div>
                      </div> 
                      <br>
                      <div class="row">
                        <div class="header-titulo">$1.000.000 </div>
                      </div> 
                      <br>
                      <div class="row">
                        <div class="header-titulo">$1.200.000 </div>
                      </div> 
                    </div>
                  </div>
                  </div>  
                  
                    
              </div> 
              
            </div> 
           <!--Comercios  -->
           
           <div class="comercios">
            <div class="ui-tarjeta">
                <div class="header-titulo">Comercios</div>
                <div class="content">
                    <div class="left-content">
                      <div class="left-content-1">
                        <img src="../../../../assets/icons/comercios.svg" alt="Icono de comercios">
                      </div>
                      <div class="left-content-2">
                        <span>5000</span>
                      </div>
                    </div>
                    <div class="right-content">
                      <div class="right-content-1">
                        <img class="img" src="../../../../assets/icons/arrow-up-green.svg" alt="Icono de arrow-up">
                      </div>
                      <div class="right-content-2">
                        <span class="img">+ 50,00%</span>
                      </div>
                    </div>
                  </div>
                  <div class="pie">
                    <div class="left-pie"></div>
                    <div class="right-pie">
                      <a class="ui-link">Ver listado ></a>
                    </div>
                  </div>
            
                </div>
            </div>  
            <!-- Articulos -->
            <div class="articulos">
              <div class="ui-tarjeta">
                  <div class="header-titulo">Artículos</div>
                  <div class="content">
                      <div class="left-content">
                        <div class="left-content-1">
                          <img src="../../../../assets/icons/articulos.svg" alt="Icono de articulos">
                        </div>
                        <div class="left-content-2">
                          <span>95</span>
                        </div>
                      </div>
                      <div class="right-content">
                        <div class="right-content-1">
                          <img class="img" src="../../../../assets/icons/arrow-up-green.svg" alt="Icono de arrow-up">
                        </div>
                        <div class="right-content-2">
                          <span class="img">+ 20,00%</span>
                        </div>
                      </div>
                    </div>
                    <div class="pie">
                      <div class="left-pie"></div>
                      <div class="right-pie">
                        <a class="ui-link">Ver listado ></a>
                      </div>
                    </div>
              
                  </div>
              </div> 
              <!-- Campanias en preparacion -->
              <div class="campanias-preparacion">
                <div class="ui-tarjeta">
                    <div class="header-titulo">Campañas en preparación</div>
                    <div class="content">
                        <div class="left-content">
                          <div class="left-content-1">
                            <img src="../../../../assets/icons/campanias-en-preparacion.svg" alt="Icono de campañas">
                          </div>
                          <div class="left-content-2">
                            <span>1</span>
                          </div>
                        </div>
                        <div class="right-content">
                          <div class="right-content-1">
                            <img class="img" src="../../../../assets/icons/arrow-up-green.svg" alt="Icono de arrow-up">
                          </div>
                          <div class="right-content-2">
                            <span class="img">+ 20,00%</span>
                          </div>
                        </div>
                      </div>
                      <div class="pie">
                        <div class="left-pie"></div>
                        <div class="right-pie">
                          <a class="ui-link">Ver listado ></a>
                        </div>
                      </div>
                
                    </div>
                </div> 
                <!-- Cargar comercios -->
                <div class="boton-comercio">
                  <button routerLink="/clientes/particular/nuevo-comercio" class="ui-add-button">
                    <div class="center-content">
                      <img src="../../../../assets/icons/comercios.svg" alt="Icono de comercios">
                      <span class="add-text">Cargar Comercios</span>
                    </div>
                  </button>
                </div>
                <!-- Cargar articulos -->
                <div class="boton-articulo">
                  <button routerLink="/clientes/particular/nuevo-articulo" class="ui-add-button">
                    <div class="center-content">
                      <img src="../../../../assets/icons/articulos.svg" alt="Icono de articulos">
                      <span class="add-text">Cargar Artículos</span>
                    </div>
                  </button>
                </div>
                <!-- Cargar campaña -->
                <div class="boton-campaña">
                  <button class="ui-add-button" routerLink="/clientes/particular/nuevo-campania">
                    <div class="center-content">
                      <img src="../../../../assets/icons/operaciones.svg" alt="Icono de campaña">
                      <span class="add-text">Nueva Campaña</span>
                    </div>
                  </button>
                </div>
          </div>


