<div class="container">
  <section class="header">
    <div class="header__title">
      <h1 class="title">{{'table_tickets_title' | translate }}</h1>
      <mat-spinner *ngIf="loading" class="loading-tables" mode="indeterminate" [diameter]="30"></mat-spinner>
    </div>
  </section>
  <section class="main">

    <div class="inputs">
      <input matInput type="search" class="ui-input" [formControl]="buscar"
        placeholder="{{'table_input_search' | translate }}">
      <div class="buttons">
        <mat-spinner *ngIf="loadingCSV" class="login-button" mode="indeterminate" [diameter]="30"></mat-spinner>
        <button *ngIf="!loadingCSV"  class="ui-button" type="button"
          (click)="dialogDownloadCsv()">{{'table_tickets_button_download_csv' | translate }}</button>
        <button id="addButton" class="ui-button">{{'table_tickets_button_add_ticket' | translate }}</button>
      </div>
    </div>
    <br>

    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef (click)="updateOrder('id')"
          [ngClass]="{'asc': ordenarTipo === 'asc' && columna === 'id', 'desc': ordenarTipo === 'desc' && columna === 'id'}">
          <strong>ID</strong><span></span>
        </th>
        <tr>
          <td mat-cell *matCellDef="let element">{{element.id}}</td>
        </tr>
      </ng-container>
      <ng-container matColumnDef="donation_id">
        <th mat-header-cell *matHeaderCellDef (click)="updateOrder('donation_id')"
          [ngClass]="{'asc': ordenarTipo === 'asc' && columna === 'donation_id', 'desc': ordenarTipo === 'desc' && columna === 'donation_id'}">
          <strong>{{'table_tickets_header_donation_id' | translate }}</strong><span></span>
        </th>
        <td mat-cell *matCellDef="let element">{{element.donation_id}}</td>
      </ng-container>
      <ng-container matColumnDef="total_weight">
        <th mat-header-cell *matHeaderCellDef (click)="updateOrder('total_weight')"
          [ngClass]="{'asc': ordenarTipo === 'asc' && columna === 'total_weight', 'desc': ordenarTipo === 'desc' && columna === 'total_weight'}">
          <strong>{{'table_tickets_header_total_weight' | translate }}</strong><span></span>
        </th>
        <td mat-cell *matCellDef="let element">{{element.total_weight}}</td>
      </ng-container>
      <ng-container matColumnDef="provider">
        <th mat-header-cell *matHeaderCellDef (click)="updateOrder('provider')"
          [ngClass]="{'asc': ordenarTipo === 'asc' && columna === 'provider', 'desc': ordenarTipo === 'desc' && columna === 'provider'}">
          <strong>{{'table_tickets_header_provider' | translate }}</strong><span></span>
        </th>
        <td mat-cell *matCellDef="let element">{{element.provider}}</td>
      </ng-container>
      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef (click)="updateOrder('location')"
          [ngClass]="{'asc': ordenarTipo === 'asc' && columna === 'location', 'desc': ordenarTipo === 'desc' && columna === 'location'}">
          <strong>{{'table_tickets_header_location' | translate }}</strong><span></span>
        </th>
        <td mat-cell *matCellDef="let element">{{element.location}}</td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef (click)="updateOrder('date')"
          [ngClass]="{'asc': ordenarTipo === 'asc' && columna === 'date', 'desc': ordenarTipo === 'desc' && columna === 'date'}">
          <strong>{{'table_tickets_header_date' | translate }}</strong><span></span>
        </th>
        <td mat-cell *matCellDef="let element">{{element.date}}</td>
      </ng-container>
      <ng-container matColumnDef="delivered_by">
        <th mat-header-cell *matHeaderCellDef (click)="updateOrder('delivered_by')"
          [ngClass]="{'asc': ordenarTipo === 'asc' && columna === 'delivered_by', 'desc': ordenarTipo === 'desc' && columna === 'delivered_by'}">
          <strong>{{'table_tickets_header_delivered_by' | translate }}</strong><span></span>
        </th>
        <td mat-cell *matCellDef="let element">{{element.delivered_by}}</td>
      </ng-container>
      <ng-container matColumnDef="products">
        <th mat-header-cell *matHeaderCellDef (click)="updateOrder('products')"
          [ngClass]="{'asc': ordenarTipo === 'asc' && columna === 'products', 'desc': ordenarTipo === 'desc' && columna === 'products'}">
          <strong>{{'table_tickets_header_products' | translate }}</strong><span></span>
        </th>
        <td mat-cell *matCellDef="let element">{{element.products}}</td>
      </ng-container>
      <ng-container matColumnDef="creation_date">
        <th mat-header-cell *matHeaderCellDef (click)="updateOrder('creation_date')"
          [ngClass]="{'asc': ordenarTipo === 'asc' && columna === 'creation_date', 'desc': ordenarTipo === 'desc' && columna === 'creation_date'}">
          <strong>{{'table_tickets_header_creation_date' | translate }}</strong><span></span>
        </th>
        <td mat-cell *matCellDef="let element">{{element.creation_date}}</td>
      </ng-container>
      <ng-container matColumnDef=" ">
        <th mat-header-cell *matHeaderCellDef><strong></strong></th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" class="menu-tabla">
            <!-- [routerLink]="['/ver/usuario',element.id]" -->
            <button mat-menu-item class="boton-usuario-desplegado">
              <mat-icon>visibility</mat-icon>
              <span>{{'table_tickets_row_button_view' | translate }}</span>
            </button>
            <!-- [routerLink]="['/usuario/editar',element.id]" -->
            <button mat-menu-item class="boton-usuario-desplegado">
              <mat-icon>edit</mat-icon>
              <span>{{'table_tickets_row_button_edit' | translate }}</span>
            </button>
            <!-- (click)="openDialog(element.id,'eliminar')" -->
            <button mat-menu-item class="boton-usuario-desplegado">
              <mat-icon>delete</mat-icon>
              <span>{{'table_tickets_row_button_delete' | translate }}</span>
            </button>

          </mat-menu>
        </td>
      </ng-container>
      <tr mat-header-row class="table-header-row" *matHeaderRowDef="columns">
      </tr>
      <tr mat-row class="hover-effect" *matRowDef="let row; columns: columns;"></tr>

    </table>

    <mat-paginator class="paginador" #paginator [length]="totalItems" [pageIndex]="pagina" [pageSize]="10"
      [pageSizeOptions]="[10]" (page)="updatePage($event)" aria-label="Seleccione una página">
    </mat-paginator>
  </section>
</div>
