@media only screen and (min-width: 901px) and (max-width: 1200px) {
  // Agrega aquí tus estilos para tablets

  .main_formulario {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 16px;
    align-items: center;
  }

  .card:nth-child(1) {
    grid-column: 1 / -1;
    grid-row: auto;
  }

  .card:nth-child(2) {
    grid-column: 1 / -1;
    grid-row: auto;
  }

  .card:nth-child(3) {
    grid-column: 1 / -1;
    grid-row: auto;
  }

  .card:nth-child(4) {
    grid-column: 1 / -1;
    grid-row: auto;
  }

  .card:nth-child(5) {
    grid-column: 1 / -1;
    grid-row: auto;
  }

  .card:nth-child(6) {
    grid-column: 1 / -1;
    grid-row: auto;
  }

  .card:nth-child(7) {
    grid-column: 1 / -1;
    grid-row: auto;
  }

  .card:nth-child(8) {
    grid-column: 1 / -1;
    grid-row: auto;
  }

  .card:nth-child(9) {
    grid-column: 1 / -1;
    grid-row: auto;
  }

  .card:nth-child(10) {
    grid-column: 1 / -1;
    grid-row: auto;
  }

  .card:nth-child(11) {
    grid-column: 1 / -1;
    grid-row: auto;
  }

  .card:nth-child(12) {
    grid-column: 1 / -1;
    grid-row: auto;
  }

  .card:nth-child(13) {
    grid-column: 1 / -1;
    grid-row: auto;
  }

}
