<div [ngClass]="{'mobile': isMobile, 'tablet': isTablet}">
  <div class="container">
    <section class="header">
      <div class="header__title">
        <h1 class="title">{{'view_client_title' | translate }} {{idClient}}</h1>
        <mat-spinner *ngIf="loading" class="loading-tables" mode="indeterminate" [diameter]="30"></mat-spinner>
      </div>
      <div>
        <button type="button" class="ui-button" [routerLink]="['/edit/client',idClient]">{{'table_clients_row_button_edit' |
          translate }}</button>
        <button id="tableButton" type="button" class="ui-button" routerLink="/table/client">{{'view_client_button_clients' |
          translate }}</button>
      </div>
    </section>
    <section class="main">
      <div class="ui-tarjeta ">

        <div class="main_formulario">
          <!-- name -->
          <div class="card">
            <mat-label><strong>{{'table_clients_header_name' | translate }}:</strong> {{viewClient.name}}</mat-label>
          </div>
          <!-- short_name -->
          <div class="card">
            <mat-label><strong>{{'table_clients_header_short_name' | translate }}:</strong>
              {{viewClient.short_name}}</mat-label>
          </div>
          <!-- email -->
          <div class="card">
            <mat-label><strong>{{'view_client_email' | translate }}:</strong>
              {{viewClient.email}}</mat-label>
          </div>
          <!-- phone -->
          <div class="card">
            <mat-label><strong>{{'view_client_phone' | translate }}:</strong>
              {{viewClient.phone}}</mat-label>
          </div>
          <!-- address -->
          <div class="card">
            <mat-label><strong>{{'view_client_address' | translate }}:</strong>
              {{viewClient.address}}</mat-label>
          </div>
          <!-- webpage -->
          <div class="card">
            <mat-label><strong>{{'view_client_webpage' | translate }}:</strong>
              <a class="ui-link" href="{{viewClient.webpage}}" target="_blank"> {{viewClient.webpage}}</a>
            </mat-label>
          </div>
          <!-- creation_date -->
          <div class="card">
            <mat-label><strong>{{'table_clients_header_creation_date' | translate }}:</strong>
              {{viewClient.creation_date}}</mat-label>
          </div>
          <!-- modification_date -->
          <div class="card">
            <mat-label><strong>{{'table_clients_header_modification_date' | translate }}:</strong>
              {{viewClient.modification_date}}</mat-label>
          </div>
          <!-- separator -->
          <div class="card ">
            <div class="ui-separator-horizontal ui-separator-horizontal--gris"></div>
          </div>

          <div class="card">
            <h2>{{'view_client_table_title' | translate}}</h2>
            <br>
            <table>
              <thead>
                <tr>
                  <th>{{'table_locations_header_community_city' | translate}}</th>
                  <th>{{'table_locations_header_enabled' | translate}}</th>
                  <th>{{'table_locations_header_creation_date' | translate}}</th>
                  <th>{{'view_location_title' | translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let location of viewClient.locations">
                  <td>{{location.community_city}}</td>
                  <td>{{location.enabled}}</td>
                  <td>{{location.creation_date}}</td>
                  <td><a class="ui-link" [routerLink]="['/view/location', location.location_id]"><mat-icon>visibility</mat-icon></a></td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- separator -->
          <div class="card ">
            <!-- <div class="ui-separator-horizontal"></div> -->
            <div class="ui-separator-horizontal ui-separator-horizontal--gris"></div>
          </div>
          <!-- buttons -->
          <div class="card">

          </div>
        </div>

      </div>
    </section>
  </div>
</div>
