


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 56px;
}

.main {
  font-size: 1.2rem;
}

.title {
  margin-bottom: 16px;
}

.header,
.ui-tarjeta {
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__title{
  display: flex;
  align-items: baseline;
}

.header__title .loading-inputs {
  margin-left: 16px;
}

.header .ui-button {
  margin-bottom: 16px;
}

.ui-tarjeta{
  margin: 0 auto;
  padding: 48px;
  border-top: 4px solid var(--ui-primario);
  // background-image: linear-gradient(to bottom, var(--ui-primario) 0%, var(--ui-primario) 2%, transparent 2%, transparent 100%);
}

.main_formulario {
  display: grid;
  grid-template-columns: repeat(2, minmax(24px, 1fr));
  grid-template-rows: repeat(2, auto);
  row-gap: 16px;
  column-gap: 48px;
  align-items: center;
}
// donation id
.card:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
// total weight
.card:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
// provider
.card:nth-child(3) {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
// destination
.card:nth-child(4) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
//
.card:nth-child(5) {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}
// date
.card:nth-child(6) {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}
// transported_by
.card:nth-child(7) {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}
// audit_status
.card:nth-child(8) {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
}
// delivered_by
.card:nth-child(9) {
  grid-column: 2 / 3;
  grid-row: 5 / 6;
}
// notes
.card:nth-child(10) {
  grid-column: 1 / 2;
  grid-row: 6 / 7;
}
// ticket_photo
.card:nth-child(11) {
  grid-column: 2 / 3;
  grid-row: 6 / 7;
}
// table notes
.card:nth-child(12) {
  grid-column: 1 / -1;
  grid-row: 7 / 8;
}
// separator
.card:nth-child(13) {
  grid-column: 1 / -1;
  grid-row: 8 / 9;
  margin-top: 16px;
}
// products add
.card:nth-child(14) {
  grid-column: 1 / 2;
  grid-row: 9 / 10;
}
// products form
.card:nth-child(15) {
  grid-column: 1 / -1;
  grid-row: 10 / 11;
}
// separator
.card:nth-child(16) {
  grid-column: 1 / -1;
  grid-row: 11 / 12;
}
// buttons
.card:nth-child(17) {
  grid-column: 1 / -1;
  grid-row: 12 / 13;
}

.card mat-form-field{
  width: 100%;
}

.subir-archivo {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  font-size: 1.4rem;
  justify-content: space-between;
}

.main_formulario .ui-separator-horizontal.ui-separator-horizontal--gris {
  background: var(--ui-secundario);
}

.card__product-quantity--grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(24px, 1fr));
  grid-template-rows: repeat(2, auto);
  row-gap: 16px;
  column-gap: 48px;
  align-items: center;
}
.card__product-type-quantity{
  display: flex;
  justify-content: space-between;
  gap: 48px;
}

.card__product-type-button {
  display: flex;
  align-items: center;
  min-width: 0;
}
.card__product-type-button > *:first-child {
  flex-basis: 95%;
  margin-right: 16px;
  min-width: inherit;
}
.card__product-type-button > *:nth-child(2) {
  margin-bottom: 16px;
}

.more-button.first {
  display: none;
}

.main_formulario .main__footer {
  display: flex;
  justify-content: flex-end;
}

.ui-button {
  padding: 0 32px;
}

.ui-button--estado-sistema {
  margin: 0 16px;
}

.card__add_products {
  display: flex;
  align-items: center;
  justify-content: center;
  // margin-top: 24px;
  .ui-button--ui-secundario {
    margin-left: 16px;
    margin-bottom: 16px;
    padding: 0 32px;
  }
}
.card__add_products--button {
  margin-bottom: 16px;
}

.card .main__footer{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.subir-archivo__input--label {
  display: none;
}

.subir-archivo__button--secundario{
  padding: 0 32px;
}

.required {
  color: var(--estado-error);
  font-weight: 600;
}

.mensaje-input-destination{
  margin-top: -24px;
}

table {
  width: 100%; /* Hace que la tabla ocupe el ancho completo de su contenedor */
  text-align: center; /* Centra el texto en las celdas */
  border-collapse: collapse; /* Elimina el espacio entre las celdas */
  table-layout: fixed; /* Hace que todas las columnas tengan el mismo ancho */

  th, td {
    border: 1px solid #ddd; /* Agrega una línea separadora a las celdas */
    padding: 8px; /* Agrega un poco de espacio alrededor del texto en las celdas */
    word-wrap: break-word; /* Permite que el texto se divida y pase a la siguiente línea si no cabe en la celda */
  }

  th {
    background-color: #f2f2f2; /* Agrega un color de fondo al encabezado de la tabla */
  }
}

// Media queries responsive

@media only screen and (max-width: 355px) {
  .subir-archivo__input--label {
    display: flex;
    align-items: center;
    align-self: center;
    padding: 16px;
  }

  .subir-archivo__input {
    display: none;
  }
}

.mobile {
  @import './stocker-home-movil.component.scss';
}

.tablet {
  @import './stocker-home-tablet.component.scss';
}
