@media only screen and (max-width: 900px) {
  // Agrega aquí tus estilos para dispositivos móviles

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 16px;
  }

  .title {
    margin-bottom: 8px;
  }

  .ui-tarjeta {
    margin: 0 auto;
    padding: 24px;
    border-top: 4px solid var(--ui-primario);
  }

  .main_formulario {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 16px;
    align-items: center;
  }

  .card:nth-child(1) {
    grid-column: 1 / -1;
    grid-row: auto;
  }

  .card:nth-child(2) {
    grid-column: 1 / -1;
    grid-row: auto;
  }

  .card:nth-child(3) {
    grid-column: 1 / -1;
    grid-row: auto;
  }

  .card:nth-child(4) {
    grid-column: 1 / -1;
    grid-row: auto;
  }

  .card:nth-child(5) {
    grid-column: 1 / -1;
    grid-row: auto;
  }

  .card:nth-child(6) {
    grid-column: 1 / -1;
    grid-row: auto;
  }

  .card:nth-child(7) {
    grid-column: 1 / -1;
    grid-row: auto;
  }

  .card:nth-child(8) {
    grid-column: 1 / -1;
    grid-row: auto;
  }

  .card:nth-child(9) {
    grid-column: 1 / -1;
    grid-row: auto;
  }

  .card:nth-child(10) {
    grid-column: 1 / -1;
    grid-row: auto;
  }

  .card:nth-child(11) {
    grid-column: 1 / -1;
    grid-row: auto;
  }

  .card:nth-child(12) {
    grid-column: 1 / -1;
    grid-row: auto;
    margin-top: 16px;
  }

  .card:nth-child(13) {
    grid-column: 1 / -1;
    grid-row: auto;
  }

  .card:nth-child(14) {
    grid-column: 1 / -1;
    grid-row: auto;
  }

  .card:nth-child(15) {
    grid-column: 1 / -1;
    grid-row: auto;
  }

  .card:nth-child(16) {
    grid-column: 1 / -1;
    grid-row: auto;
  }

  .card:nth-child(17) {
    grid-column: 1 / -1;
    grid-row: auto;
  }

  .subir-archivo {
    display: flex;
    align-items: flex-start;
    margin-bottom: 16px;
    font-size: 1.4rem;
    justify-content: left;
    flex-direction: column;

    & span {
      margin-bottom: 14px;
    }
  }

  .card__add_products {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    // margin-top: 16px;
    flex-direction: column;
    .ui-button--ui-secundario {
      margin-left: 0px;
      margin-bottom: 16px;
      padding: 0 32px;
    }
  }
  .card__add_products .ui-button--ui-secundario {
    align-self: center;
  }

  .card__product-quantity--grid {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0px;
  }

  .card__product {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .card__product-type-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .card__product-type-quantity {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0px;
  }

  .card__product-type-button>*:first-child {
    margin-right: 0px;
  }

  .more-button.first {
    display: inline-block;
  }

  .more-button.second {
    display: none;
  }

  .card .main__footer{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}
