<div [ngClass]="{'mobile': isMobile, 'tablet': isTablet}">
  <div class="container">
    <section class="header">
      <div class="header__title">
        <h1 class="title">{{'stocker_title' | translate }}</h1>
        <mat-spinner *ngIf="loading" class="loading-inputs" mode="indeterminate" [diameter]="30"></mat-spinner>
      </div>
      <div>
        <button *ngIf="this.decodificadorService.getRol() == 'admin'" type="button" class="ui-button" routerLink="/table/ticket">{{'view_ticket_button_tickets' | translate }}</button>
      </div>
    </section>
    <section class="main">
      <div class="ui-tarjeta ">

        <form [formGroup]="stockForm" novalidate (ngSubmit)="onSubmit()">
          <div class="main_formulario">
            <!-- donation id -->
            <div class="card">
              <mat-form-field appearance="outline">
                <mat-label>{{'stocker_input_donation_id' | translate }}</mat-label>
                <input matInput type="number" formControlName="donation_id" required matNumberInput>
                <mat-error *ngIf="stockForm.controls['donation_id'].hasError('invalidDonationID')">
                  {{'stocker_input_donation_id_error_exists' | translate }}
                </mat-error>
                <mat-error *ngIf="stockForm.controls['donation_id'].hasError('required')">
                  {{'stocker_input_donation_id_error' | translate }}
                </mat-error>
              </mat-form-field>
            </div>
            <!-- total weight -->
            <div class="card">
              <mat-form-field appearance="outline">
                <mat-label>{{'stocker_input_total_weight' | translate }}</mat-label>
                <input matInput type="number" formControlName="total_weight" required matNumberInput>
                <mat-error *ngIf="stockForm.controls['total_weight'].hasError('required')">
                  {{'stocker_input_total_weight_error' | translate }}
                </mat-error>
              </mat-form-field>
            </div>
            <!-- provider -->
            <div class="card">
              <mat-form-field appearance="outline">
                <mat-label>{{'stocker_input_provider' | translate }}</mat-label>
                <input matInput formControlName="provider" required [matAutocomplete]="autoProvider">
                <mat-autocomplete #autoProvider="matAutocomplete">
                  <mat-option *ngFor="let option of filteredOptionsProvider | async" [value]="option">
                    {{ option }}
                  </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="stockForm.controls['provider'].hasError('required')">
                  {{'stocker_input_provider_error' | translate }}
                </mat-error>
              </mat-form-field>
            </div>
            <!-- destination -->
            <div class="card">
              <mat-form-field appearance="outline">
                <mat-label>{{'stocker_input_destination' | translate }}</mat-label>
                <mat-select formControlName="destination">
                  <mat-option *ngFor="let location of locations" [value]="location.id">
                    {{location.community_city}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="stockForm.controls['destination'].hasError('required')">
                  {{'stocker_input_destination_error' | translate }}
                </mat-error>
              </mat-form-field>
            </div>
            <!-- destination message organization + address -->
            <div class="card">
              <div class="mensaje-input-destination" *ngIf="!stockForm.controls['destination'].hasError('required')">
                {{locationOrganizationSelected + ' - ' + locationAddressSelected}}
              </div>
            </div>
            <!-- date -->
            <div class="card">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>{{'stocker_input_date' | translate }}</mat-label>
                <input matInput [matDatepicker]="miPicker1" formControlName="date" (input)="formatDate($event)"
                  maxlength="10" placeholder="01/31/2023">
                <mat-hint>{{'login_recover_password_input_date_of_birth_format' | translate }}</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="miPicker1"></mat-datepicker-toggle>
                <mat-datepicker #miPicker1></mat-datepicker>
                <mat-error *ngIf="stockForm.controls['date'].hasError('required')">
                  {{'stocker_input_date_error' | translate }}
                </mat-error>
              </mat-form-field>
            </div>
            <!-- delivered_by -->
            <div class="card">
              <mat-form-field appearance="outline">
                <mat-label>{{'stocker_input_delivered_by' | translate }}</mat-label>
                <input matInput formControlName="delivered_by" required>
                <mat-error *ngIf="stockForm.controls['delivered_by'].hasError('required')">
                  {{'stocker_input_delivered_by_error' | translate }}
                </mat-error>
              </mat-form-field>
            </div>
            <!-- ticket_photo -->
            <div class="card">
              <div class="subir-archivo">
                <span>
                  {{'stocker_text_max_ticket' | translate }} <span
                    [ngClass]="{'required': !imageTicketUploaded}">*</span>
                </span>
                <label for="ticket-files"
                  class="ui-button--ui-secundario subir-archivo__input--label">{{'stocker_button_upload_ticket' |
                  translate }}</label>
                <input type="file" class="subir-archivo__input--new" accept="image/png, image/jpeg" name="image_ticket"
                  multiple (change)="uploadFile($event)" id="ticket-files" style="display:none;">
                <input type="file" class="subir-archivo__input" accept="image/png, image/jpeg" name="image_ticket"
                  multiple (change)="uploadFile($event)" />
              </div>
            </div>
            <!-- separator -->
            <div class="card ">
              <div class="ui-separator-horizontal ui-separator-horizontal--gris"></div>
            </div>

            <!-- products -->
            <div class="card">
              <div class="card__add_products">
                <div class="card__add_products__buttons-container">
                  <button class="card__add_products--button" mat-icon-button type="button"
                    matTooltip="{{'stocker_tooltip_add_product' | translate }}" matTooltipPosition="above"
                    (click)="agregarCampo()">
                    <mat-icon>add</mat-icon>
                  </button>
                  <button class="card__add_products--button" mat-icon-button type="button"
                    matTooltip="{{'stocker_tooltip_remove_product' | translate }}" matTooltipPosition="above"
                    [disabled]="productsForm.controls.length < 1" (click)="quitarCampo()">
                    <mat-icon>remove</mat-icon>
                  </button>
                </div>
                <mat-form-field appearance="outline">
                  <mat-label>{{'stocker_input_number_of_fields' | translate }}</mat-label>
                  <input matInput type="number" matNumberInput min="0" [(ngModel)]="numberOfFields"
                    [ngModelOptions]="{standalone: true}">
                </mat-form-field>
                <button class="ui-button--ui-secundario" type="button"
                  (click)="onNumberOfFieldsChange()">{{this.productsForm.length > 0 ?
                  this.translate.instant('stocker_button_modify') :
                  this.translate.instant('stocker_button_create')}}</button>
              </div>
              <p *ngIf="this.productsForm.length > 0">{{'stocker_text_format_product' | translate }}</p>
            </div>
            <div class="card">
              <div formArrayName="products" *ngFor="let products of productsForm.controls; let i=index">
                <div [formGroupName]="i">
                  <div class="card__product-quantity--grid">

                    <button mat-icon-button class="more-button first" aria-label="Toggle menu" type="button"
                      matTooltip="{{'stocker_tooltip_remove_product' | translate }}" matTooltipPosition="above"
                      (click)="quitarCampoParticular(i)">
                      <mat-icon>close</mat-icon>
                    </button>

                    <!-- COMIENZO PRODUCT-->
                    <div class="card__product">
                      <mat-form-field appearance="outline" class="full-width">
                        <mat-label>{{'stocker_input_product' | translate }}</mat-label>
                        <input matInput formControlName="product" [matAutocomplete]="auto" (focus)="onInputFocus(i)" (blur)="setProductTypeFromProduct(i)" required>
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="setProductTypeFromProduct(i)">
                          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                            {{ option }}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                    </div>
                    <!-- FIN PRODUCT -->

                    <!-- COMIENZO PRODUCT-TYPE QUANTITY -->
                    <div class="card__product-type-button">
                      <div class="card__product-type-quantity">
                        <!-- PRODUCT-TYPE -->
                        <mat-form-field appearance="outline" class="full-width">
                          <mat-label>{{'stocker_input_product_type' | translate }}</mat-label>
                          <mat-select formControlName="product_type" required>
                            <mat-option *ngFor="let product_type of product_types" [value]="product_type.id">
                              {{product_type.name}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                        <!-- QUANTITY -->
                        <mat-form-field appearance="outline" class="full-width">
                          <mat-label>{{'stocker_input_quantity' | translate }}</mat-label>
                          <input matInput type="number" formControlName="quantity" matNumberInput required>
                        </mat-form-field>
                      </div>
                      <!-- FIN PRODUCT-TYPE QUANTITY -->

                      <button mat-icon-button class="more-button second" aria-label="Toggle menu" type="button"
                        matTooltip="{{'stocker_tooltip_remove_product' | translate }}" matTooltipPosition="above"
                        (click)="quitarCampoParticular(i)">
                        <mat-icon>close</mat-icon>
                      </button>
                    </div>

                  </div>
                </div>
              </div>
            </div>

            <!-- separator -->
            <div class="card ">
              <!-- <div class="ui-separator-horizontal"></div> -->
              <div class="ui-separator-horizontal ui-separator-horizontal--gris"></div>
            </div>
            <!-- buttons -->
            <div class="card">
              <div class="main__footer">
                <!-- <button class="ui-button ui-button--estado-sistema" type="button" routerLink="/clientes">Volver</button> -->
                <button *ngIf="!loading" class="ui-button" type="submit"
                  [disabled]="!stockForm.valid || loadingDonationIDExists">{{'stocker_button_submit' | translate }}</button>
                <mat-spinner *ngIf="loading" class="login-button" mode="indeterminate" [diameter]="30"></mat-spinner>
                <mat-error *ngIf="showMessageStockFormInvalid">
                  {{'stocker_button_submit_stock_form_error' | translate }}
                </mat-error>
                <mat-error *ngIf="showMessageFilesInvalid">
                  {{'stocker_button_submit_files_error' | translate }}
                </mat-error>
                <mat-error *ngIf="showMessageQuantityInvalid">
                  {{'stocker_button_submit_sum_quantity_error' | translate }}
                </mat-error>
                <mat-error *ngIf="showMessageProductNull">
                  {{'stocker_button_submit_product_null_error' | translate }}
                </mat-error>
              </div>
            </div>
          </div>
        </form>

      </div>
    </section>
  </div>
</div>
