<div class="container">
  <div class="dialog-body">
    <p>{{'menu_dialog_change_password' | translate }}</p>
    <form [formGroup]="passwordForm">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{'reset_password_title' | translate }}</mat-label>
        <input matInput formControlName="password">
        <mat-error *ngIf="passwordForm.controls['password'].hasError('required')">{{'reset_password_input_error_please' | translate }}</mat-error>
      </mat-form-field>
    </form>
  </div>
  <div class="dialog-footer" mat-dialog-actions>
    <button class="ui-button" (click)="onClickCancelar()">{{'reset_password_button_later' | translate }}</button>
    <button class="ui-button--ui-secundario" (click)="onClickAceptar()" [disabled]="!passwordForm.valid">{{'reset_password_button_submit' | translate }}</button>
  </div>
</div>
