<div class="container">
  <div class="dialog-body">
    <p>{{message}}</p>
    <form [formGroup]="passwordForm">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>New password</mat-label>
        <input matInput formControlName="password">
        <mat-error *ngIf="passwordForm.controls['password'].hasError('required')">Please enter a valid
          password</mat-error>
      </mat-form-field>
    </form>
  </div>
  <div class="dialog-footer" mat-dialog-actions>
    <button class="ui-button--ui-secundario" (click)="onClickCancelar()">Later</button>
    <button class="ui-button" (click)="onClickAceptar()" [disabled]="!passwordForm.valid">Submit</button>
  </div>
</div>
