table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 20px;
  }

  th, td {
    font-family: var(--fuente);
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    padding: 8px;
    text-align: center;
    align-items: center;
  }
  th:first-child {

    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  th:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
 .container-table{
  grid-row: 3 / 6;
  grid-column: 1 / 7 ;

 }
 tr.mat-mdc-row:hover {
  background-color: lightgrey;
}
