<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container *ngFor="let columna of columnas">
    <ng-container [matColumnDef]="columna">
      <th mat-header-cell *matHeaderCellDef>{{ columna }}</th>
      <td mat-cell *matCellDef="let fila">{{ obtenerValor(fila, columna) }}</td>
    </ng-container>
  </ng-container>
  <ng-container matColumnDef=" " >
    <th mat-header-cell *matHeaderCellDef><strong></strong></th>
    <td mat-cell *matCellDef><button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
    <mat-menu #menu="matMenu" class="menu-tabla">
      <button mat-menu-item>
      <span class="menu-tabla" *ngFor="let opt of datosMenu"> <img src="../../../../assets/icons/editar.svg" style="width: 26px;align-items: center;">
          {{opt.detalleCliente}}</span>
      </button>
     
    </mat-menu></td>
  </ng-container>
  <tr mat-header-row style="background-color:var(--ui-secundario); border-radius: 20%;" *matHeaderRowDef="columnas.concat(' ')"></tr>
  <tr mat-row *matRowDef="let fila; columns: columnas.concat(' ');"></tr>
</table>
<!-- <table>
  <thead style="background-color:var(--ui-secundario); border-radius: 20%;">
    <tr>
      <th *ngFor="let columna of columnas">{{ columna }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let fila of datosTabla">
      <td *ngFor="let columna of columnas">{{  obtenerValor(fila, columna) }}</td>
    </tr>
  </tbody>
</table> -->
<mat-paginator #paginator [length]="totalItems" [pageIndex]="pagina" [pageSize]="2" [pageSizeOptions]="[2]"
(page)="cambiarPagina($event)" aria-label="Seleccione una página">
</mat-paginator>