<div class="cuerpo">
  <header>
    <span>Community Data</span>
    <span class="form-inline">
      <select class="ui-input" id="languageSelector" #selectedLang (change)="switchLang(selectedLang.value)">
        <option *ngFor="let language of translate.getLangs()" [value]="language"
          [selected]="language === translate.currentLang">
          {{ translate.instant('language_' + language) }}
        </option>
      </select>
    </span>
  </header>
  <main>
      <section>
        <div class="ui-tarjeta">
          <h1>{{'register_title' | translate }}</h1>
          <mat-stepper [orientation]="(stepperOrientation | async)!" [linear]="isLinear" #stepper>
            <mat-step [stepControl]="firstFormGroup">
              <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>{{'register_first_tab_title' | translate }}</ng-template>
                <div class="tarjeta__input">
                  <mat-form-field appearance="outline">
                    <mat-label>{{'register_first_tab_input_user_name' | translate }}</mat-label>
                    <input matInput formControlName="username" type="username" required>
                    <mat-error *ngIf="firstFormGroup.controls['username'].hasError('invalidUsername')">
                      {{'register_first_tab_input_user_name_error_exists' | translate }}
                    </mat-error>
                    <mat-error *ngIf="firstFormGroup.controls['username'].hasError('required')">
                      {{'register_first_tab_input_user_name_error_please' | translate }}
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>{{'register_first_tab_input_password' | translate }}</mat-label>
                    <input matInput formControlName="password" type="password" required>
                    <mat-error *ngIf="firstFormGroup.controls['password'].hasError('required')">
                      {{'register_first_tab_input_password_error_please' | translate }}
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>{{'register_first_tab_input_first_name' | translate }}</mat-label>
                    <input matInput formControlName="firstName" required>
                    <mat-error *ngIf="firstFormGroup.controls['firstName'].hasError('required')">
                      {{'register_first_tab_input_first_name_error_please' | translate }}
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>{{'register_first_tab_input_last_name' | translate }}</mat-label>
                    <input matInput formControlName="lastName" required>
                    <mat-error *ngIf="firstFormGroup.controls['lastName'].hasError('required')">
                      {{'register_first_tab_input_last_name_error_please' | translate }}
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>{{'login_recover_password_input_date_of_birth' | translate }}</mat-label>
                    <input matInput [matDatepicker]="miPicker1" formControlName="dateOfBirth" (input)="formatDate($event)">
                    <mat-hint>{{'login_recover_password_input_date_of_birth_format' | translate }}</mat-hint>
                    <!-- <mat-datepicker-toggle matSuffix [for]="miPicker1"></mat-datepicker-toggle> -->
                    <mat-datepicker #miPicker1></mat-datepicker>
                    <mat-error *ngIf="firstFormGroup.controls['dateOfBirth'].hasError('required')">
                      {{'login_recover_password_input_date_of_birth_error_please' | translate }}
                    </mat-error>
                    <mat-error *ngIf="firstFormGroup.controls['dateOfBirth'].hasError('invalidAge')">
                      {{'login_recover_password_input_date_of_birth_error_age' | translate }}
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>{{'register_first_tab_input_email_address' | translate }}</mat-label>
                    <input matInput formControlName="email" type="email">
                    <mat-error *ngIf="firstFormGroup.controls['email'].hasError('emailExists')">
                      {{'register_first_tab_input_email_address_error_exists' | translate }}
                    </mat-error>
                    <mat-error *ngIf="firstFormGroup.controls['email'].hasError('invalidEmail')">
                      {{'register_first_tab_input_email_address_error_invalid' | translate }}
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>{{'register_first_tab_input_phone' | translate }}</mat-label>
                    <input matInput type="number" formControlName="phone" required matNumberInput>
                    <mat-error *ngIf="firstFormGroup.controls['phone'].hasError('required')">
                      {{'register_first_tab_input_phone_error_please' | translate }}
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>{{'register_first_tab_input_zip_code' | translate }}</mat-label>
                    <input matInput type="number" formControlName="zipcode" required matNumberInput>
                    <mat-error *ngIf="firstFormGroup.controls['zipcode'].hasError('required')">
                      {{'register_first_tab_input_zip_code_error_please' | translate }}
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>{{'register_first_tab_input_household_size' | translate }}</mat-label>
                    <input matInput type="number" formControlName="householdSize" required matNumberInput>
                    <mat-error *ngIf="firstFormGroup.controls['householdSize'].hasError('required')">
                      {{'register_first_tab_input_household_size_error_please' | translate }}
                    </mat-error>
                  </mat-form-field>
                  <label class="radio-button-label" id="radio-button-group-label">{{'register_first_tab_input_gender' |
                    translate }} <span
                      [ngClass]="{'required': firstFormGroup.controls['gender'].invalid}">*</span></label>
                  <mat-radio-group *ngIf="!loadingGender" aria-labelledby="radio-button-group-label" class="radio-button-group"
                    formControlName="gender">
                    <mat-radio-button class="radio-button" *ngFor="let gender of genders" [value]="gender.id">
                      {{gender.name}}
                    </mat-radio-button>
                  </mat-radio-group>
                  <mat-spinner *ngIf="loadingGender" class="login-button" mode="indeterminate" [diameter]="30"></mat-spinner>
                  <label class="radio-button-label" id="radio-button-group-label">{{'register_first_tab_input_ethnicity'
                    | translate }} <span
                      [ngClass]="{'required': firstFormGroup.controls['ethnicity'].invalid}">*</span></label>
                  <mat-radio-group *ngIf="!loadingEthnicity" aria-labelledby="radio-button-group-label" class="radio-button-group"
                    formControlName="ethnicity">
                    <mat-radio-button class="radio-button" *ngFor="let ethnicity of ethnicities" [value]="ethnicity.id">
                      {{ethnicity.name}}
                    </mat-radio-button>
                  </mat-radio-group>
                  <mat-spinner *ngIf="loadingEthnicity" class="login-button" mode="indeterminate" [diameter]="30"></mat-spinner>
                  <mat-form-field appearance="outline"
                    *ngIf="otroEthnicity && otroEthnicity.id === firstFormGroup.get('ethnicity').value">
                    <mat-label>{{'register_first_tab_input_others' | translate }}</mat-label>
                    <input matInput formControlName="otherEthnicity" required>
                    <mat-error *ngIf="firstFormGroup.controls['otherEthnicity'].hasError('required')">
                      {{'register_first_tab_input_others_error_please' | translate }}
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="botones-stepper">
                  <button class="ui-button next" matStepperNext
                    [disabled]="!firstFormGroup.valid">{{'register_first_tab_button_next' | translate }}</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
              <form *ngIf="!this.loadingRegisterQuestions && this.registerQuestions.length > 0"
                [formGroup]="secondFormGroup">
                <ng-template matStepLabel>{{'register_second_tab_title' | translate }}</ng-template>
                <div class="tarjeta__input">
                  <div *ngFor="let question of registerQuestions">
                    <div
                      *ngIf="shouldShowQuestion(question)">
                      <div [ngSwitch]="question.answer_type_id">

                        <div *ngSwitchCase="1">
                          <mat-form-field appearance="outline">
                            <mat-label>{{question.name}}</mat-label>
                            <input matInput formControlName="{{question.id.toString()}}" required>
                          </mat-form-field>
                        </div>

                        <div *ngSwitchCase="2">
                          <mat-form-field appearance="outline">
                            <mat-label>{{question.name}}</mat-label>
                            <input matInput formControlName="{{question.id.toString()}}" required type="number" matNumberInput>
                          </mat-form-field>
                        </div>

                        <div *ngSwitchCase="3">
                          <label class="radio-button-label" id="radio-button-group-label">{{question.name}}
                            <span
                              [ngClass]="{'required': secondFormGroup.controls[question.id.toString()].invalid}">*</span></label>
                          <mat-radio-group aria-labelledby="radio-button-group-label" class="radio-button-group"
                            formControlName="{{question.id.toString()}}">
                            <mat-radio-button class="radio-button"
                              *ngFor="let answer of getAnswersForQuestion(question.id)" [value]="answer.id">
                              {{ answer.name }}
                            </mat-radio-button>
                          </mat-radio-group>
                        </div>

                        <div *ngSwitchCase="4">
                          <label class="radio-button-label" id="radio-button-group-label">{{question.name}} <span
                              [ngClass]="{'required': !secondFormGroup.controls[question.id.toString()].value || secondFormGroup.controls[question.id.toString()].value.length === 0 || secondFormGroup.controls[question.id.toString()].invalid}">*</span></label>
                          <div class="checkbox-options" formArrayName="{{question.id.toString()}}">
                            <mat-checkbox aria-labelledby="radio-button-group-label" class="checkbox-option"
                              *ngFor="let answer of getAnswersForQuestion(question.id); let i = index"
                              [value]="answer.id.toString()"
                              (change)="onCheckboxChange($event, i, question.id)">{{answer.name}}</mat-checkbox>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="botones-stepper">
                  <button class="ui-button back" matStepperPrevious>{{'register_second_tab_button_back' | translate}}</button>
                  <button *ngIf="!loading" class="ui-button next" type="submit" (click)="onSubmit()"
                    [disabled]="!combinedFormGroup.valid">{{'register_second_tab_button_submit' | translate}}</button>
                    <mat-spinner *ngIf="loading" class="login-button" mode="indeterminate" [diameter]="30"></mat-spinner>
                </div>
              </form>
            </mat-step>
          </mat-stepper>
          <div class="ui-separator-horizontal"></div>
          <a class="ui-link" (click)="setForgetPassword(false,true)">{{'register_link_already_account' | translate
            }}</a>
        </div>
      </section>
  </main>
</div>
