<div *ngIf="usuario && this.currentRoute !== '/login'">
  <header>
    <div class="header__logo">
      <div #menuIcon (click)="toggleMenu()" [@iconAnimation]="animationState">
        <ng-container *ngIf="!menuExpanded; else showCross">
          <img class="header__logo__menu-icon" [src]="hamburguesaIcon.src" alt="Icono de menú"
            id="menu-icon-hamburguesa">
        </ng-container>
        <ng-template #showCross>
          <img class="header__logo__menu-icon" [src]="cerrarIcon.src" alt="Icono de cerrar"
            id="menu-icon-cerrar">
        </ng-template>
      </div>

      <a routerLink="{{this.route_role}}" alt="Logo principal" id="logo">Community Data</a>

    </div>
    <div class="header__buscador">
      <!-- <input class="ui-input" type="search" id="search-input" placeholder="{{'menu_input_search' | translate }}"> -->
    </div>
    <div class="header__perfil" (click)="toggleCard()" #profile>
      <div class="header__perfil__nombre">
        <p>{{usuario.firstname}}</p>
      </div>
      <img class="header__perfil__icon" src="../../../../assets/icons/perfil.svg" alt="Foto de perfil" class="user"
        id="perfil">
    </div>
  </header>
  <section class="opciones-perfil">
    <div class="ui-tarjeta" *ngIf="showCard" #card>
      <ul>
        <li (click)="settings()">{{'menu_button_settings' | translate }}</li>
        <li (click)="notifications()">{{'menu_button_notifications' | translate }}</li>
        <li (click)="logOut()">{{'menu_button_log_out' | translate }}</li>
      </ul>
    </div>
  </section>
  <section class="opciones-metrics">
    <div class="ui-tarjeta" *ngIf="showCardMetrics" #cardMetrics>
      <ul>
        <li routerLink="/metrics/demographic">
          <a>
            {{'menu_button_demographic_metrics' | translate }}
          </a>
        </li>
        <li routerLink="/metrics/product">
          <a>
            {{'menu_button_product_metrics' | translate }}
          </a>
        </li>
        <li routerLink="/metrics/health">
          <a>
            {{'menu_button_health_metrics' | translate }}
          </a>
        </li>
        <li routerLink="/metrics/participant">
          <a>
            {{'menu_button_participant_metrics' | translate }}
          </a>
        </li>
        <li routerLink="/view/worker/0">
          <a>
            {{'menu_button_worker_table' | translate }}
          </a>
        </li>
      </ul>
    </div>
  </section>
  <section class="opciones-tables">
    <div class="ui-tarjeta" *ngIf="showCardTables" #cardTables>
      <ul>
        <li routerLink="/table/client" *ngIf="usuario.role === 'admin'">
          <a>
            {{'menu_button_client_table' | translate }}
          </a>
        </li>
        <li [routerLink]="['/table/user', 'client']" *ngIf="usuario.role === 'admin' || usuario.role === 'client'">
          <a>
            {{'menu_button_client_user_table' | translate }}
          </a>
        </li>
        <li routerLink="/table/delivered" *ngIf="usuario.role === 'admin'">
          <a>
            {{'menu_button_delivered_table' | translate }}
          </a>
        </li>
        <li routerLink="/table/ethnicity" *ngIf="usuario.role === 'admin'">
          <a>
            {{'menu_button_ethnicity_table' | translate }}
          </a>
        </li>
        <li routerLink="/table/product">
          <a>
            {{'menu_button_product_table' | translate }}
          </a>
        </li>
        <li routerLink="/table/product-type" *ngIf="usuario.role === 'admin'">
          <a>
            {{'menu_button_product_type_table' | translate }}
          </a>
        </li>
        <li routerLink="/table/gender" *ngIf="usuario.role === 'admin'">
          <a>
            {{'menu_button_gender_table' | translate }}
          </a>
        </li>
        <li routerLink="/table/location">
          <a>
            {{'menu_button_location_table' | translate }}
          </a>
        </li>
        <li [routerLink]="['/table/user', 'beneficiary']" *ngIf="usuario.role === 'admin' || usuario.role === 'client'">
          <a>
            {{'menu_button_beneficiary_table' | translate }}
          </a>
        </li>
        <li routerLink="/table/provider" *ngIf="usuario.role === 'admin'">
          <a>
            {{'menu_button_provider_table' | translate }}
          </a>
        </li>
        <li routerLink="/table/delivered-by" *ngIf="usuario.role === 'admin'">
          <a>
            {{'menu_button_delivered_by_table' | translate }}
          </a>
        </li>
        <li routerLink="/table/user/" *ngIf="usuario.role === 'admin'">
          <a>
            {{'menu_button_system_user_table' | translate }}
          </a>
        </li>
        <li routerLink="/table/ticket" *ngIf="usuario.role === 'admin' || usuario.role === 'opsmanager' || usuario.role === 'director'">
          <a>
            {{'menu_button_ticket_table' | translate }}
          </a>
        </li>
        <li routerLink="/table/transported-by" *ngIf="usuario.role === 'admin'">
          <a>
            {{'menu_button_transported_by_table' | translate }}
          </a>
        </li>
        <li routerLink="/table/volunteer" *ngIf="usuario.role === 'admin'">
          <a>
            {{'menu_button_volunteer_table' | translate }}
          </a>
        </li>
        <li routerLink="/table/worker" *ngIf="usuario.role === 'admin' || usuario.role === 'opsmanager' || usuario.role === 'director'">
          <a>
            {{'menu_button_worker_table' | translate }}
          </a>
        </li>
      </ul>
    </div>
  </section>
  <section class="container">
    <nav>
      <div class="ui-tarjeta" [class.collapsed]="!menuExpanded" #menu>
        <section class="container__header">
          <ul>
            <li [class.active-link]="currentRoute.includes('/home')" [class.li-collapsed]="!menuExpanded">
              <a routerLink="{{this.route_role}}">
                <img class="ui-tarjeta__icono" src="../../../../assets/icons/home.svg" alt="Icono de home">
                <span [class.hidden]="!menuExpanded">{{'menu_button_home' | translate }}</span>
              </a>
            </li>
            <li *ngIf="usuario.role === 'stocker'"
            [class.active-link]="currentRoute.includes('/table')" [class.li-collapsed]="!menuExpanded">
              <a routerLink="/table/ticket">
                <img class="ui-tarjeta__icono" src="../../../../assets/icons/tablas.svg" alt="Icono de home">
                <span [class.hidden]="!menuExpanded">{{'menu_button_ticket_table' | translate }}</span>
              </a>
            </li>
            <li *ngIf="usuario.role === 'auditor'"
            [class.active-link]="currentRoute.includes('/metrics')" [class.li-collapsed]="!menuExpanded">
              <a routerLink="/metrics/product">
                <img class="ui-tarjeta__icono" src="../../../../assets/icons/metricas.svg" alt="Icono de home">
                <span [class.hidden]="!menuExpanded">{{'menu_button_metrics' | translate }}</span>
              </a>
            </li>
            <li *ngIf="usuario.role === 'admin' || usuario.role === 'client' || usuario.role === 'director'"
              [class.active-link]="currentRoute.includes('/metrics')" [class.li-collapsed]="!menuExpanded">
              <a (click)="toggleCardMetrics()" #metricsButton>
                <img class="ui-tarjeta__icono" src="../../../../assets/icons/metricas.svg" alt="Metrics icon">
                <span [class.hidden]="!menuExpanded">{{'menu_button_metrics' | translate }}</span>
              </a>
            </li>
            <li *ngIf="usuario.role === 'admin' || usuario.role === 'client' || usuario.role === 'opsmanager' || usuario.role === 'director'"
              [class.active-link]="currentRoute.includes('/table')" [class.li-collapsed]="!menuExpanded">
              <a (click)="toggleCardTables()" #tablesButton>
                <img class="ui-tarjeta__icono" src="../../../../assets/icons/tablas.svg" alt="Tables icon">
                <span [class.hidden]="!menuExpanded">{{'menu_button_tables' | translate }}</span>
              </a>
            </li>
            <li *ngIf="usuario.role === 'admin'"
              [class.active-link]="currentRoute.includes('/survey')" [class.li-collapsed]="!menuExpanded">
              <a routerLink="/survey">
                <img class="ui-tarjeta__icono" src="../../../../assets/icons/encuesta.svg" alt="Survey icon">
                <span [class.hidden]="!menuExpanded">{{'menu_button_survey' | translate }}</span>
              </a>
            </li>
            <li [class.active-link]="currentRoute.includes('/help')" [class.li-collapsed]="!menuExpanded">
              <a routerLink="/help">
                <img class="ui-tarjeta__icono" src="../../../../assets/icons/ayuda.svg" alt="Icono de ayuda">
                <span [class.hidden]="!menuExpanded">{{'menu_button_help' | translate }}</span>
              </a>
            </li>
          </ul>
        </section>
        <section class="container__footer">
          <!-- <ul>
          <li [class.active-link]="currentRoute.includes('/help')" [class.li-collapsed]="!menuExpanded">
            <a routerLink="/help">
              <img class="ui-tarjeta__icono" src="../../../../assets/icons/ayuda.svg" alt="Icono de ayuda">
              <span [class.hidden]="!menuExpanded">Help</span>
            </a>
          </li>
        </ul> -->
        </section>
      </div>
    </nav>
    <div class="container__overlay" *ngIf="menuExpanded"></div>
    <div class="container__componente-renderizado" [class.overlay]="menuExpanded">
      <router-outlet></router-outlet>
    </div>
  </section>
</div>
<div *ngIf="!usuario || this.currentRoute === '/login'">
  <mat-spinner class="logout-loading" mode="indeterminate" [diameter]="100"></mat-spinner>
</div>
