.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8px;
}

.dialog-body {
  width: 100%;
  padding: 0 16px;
  margin-top: 16px;

  & p {
    margin-bottom: 16px;
  }
}

.dialog-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;

  & button {
    padding: 0 32px;
  }
}

.full-width {
  width: 100%;
}

@media only screen and (max-width: 380px) {

  .dialog-footer button{
    padding: 0 24px;
  }

}
@media only screen and (max-width: 340px) {

  .dialog-footer button{
    padding: 0 16px;
  }

}
