.container {
    display: grid;
    grid-template-columns: repeat(5, minmax(100px, 1fr));
    grid-template-rows: 60px 100px repeat(2,60px) minmax(100px,1fr);
    gap: 32px;
    justify-content: center;
    max-width: 1300px;
    margin: 0 auto;
}

.logo-cliente {
    background: white;
    border: #FFF4E7;
    border-radius: 5px;
    grid-column: 1 / 3;
    grid-row: 2 / 2  ;
    display: flex;
    justify-content: center;
    width: 40%;
    height: 50%;
    justify-self: center;
    align-self: center;

    & .img {
        width: 90%;
        height: 90%;
        justify-self: center;
        align-self: center;
    }
}

.id-cliente{
    grid-column: 2 / 4;
    grid-row: 2 / 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-self: start;
    align-self: center;
    display: flex;
    margin-left: 25%;
    color: var(--texto-primario);

    & .id-cliente__title {
        font-size: 1.3rem;
        font-weight: 600;
        text-align: left;
    }

    & .id-cliente__id {
        font-size: 1.3rem;
        font-weight: 500;
        text-align: left;
    }
}

.progreso {
    grid-column: 1 / 1;
    grid-row: 3 / 3;
    color: var(--texto-primario);

    & .center-content {
        position: relative;
    }

    & .ui-tarjeta {
        width: 100%;
        height: 30px;
    }
}

.nombre-campania {
    grid-column: 2 / 2;
    grid-row: 3 / 3;
}

.id-campania {
    grid-column: 3 / 3;
    grid-row: 3 / 3;
}

.fecha-inicio {
    grid-column: 4 / 4;
    grid-row: 3 / 3;
}

.fecha-fin {
    grid-column: 5 / 5;
    grid-row: 3 / 3;
}

.estado-cliente {
    grid-column: 1 / 1;
    grid-row: 4 / 4 ;
    display: flex;
    justify-content: right;
    margin-top: 0%;
    width: 100%;
    height: 100%;

    & .ui-tarjeta {
        background: #FFF4E7;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & .center-content {
            color: var(--texto-primario);
            font-family: var(--fuente);
            font-size: 1.7rem;
            font-weight: 600;


            & .estado-cliente__estado {
                margin-left: 20%;
                color: var(--estado-confirmacion);
            }

        }
    }
}

.tipo-servicio {
    grid-column: 2 / 2;
    grid-row: 4 / 4;

    .center-content p {
        color: var(--ui-primario);
        font-weight: 600;
        font-style: italic;
    }
}

.articulos {
    grid-column: 3 / 3;
    grid-row: 4 / 4;

    & .header-titulo {
        font-size: 1.3rem;
        font-weight: 400;
        text-align: left;
    }
}

.comercios {
    grid-column: 4 / 4;
    grid-row: 4 / 4;

    & .header-titulo {
        font-size: 1.3rem;
        font-weight: 400;
        text-align: left;
    }
}

.misiones-realizadas {
    grid-column: 5 / 5;
    grid-row: 4 / 4;
}

.graficos {
    grid-column: 1 / 6;
    grid-row: 5 / 5;
  }

.graficos__tabs-container__grid-resumen {

    display: grid;
    grid-template-columns: minmax(100px, 1fr);
    grid-template-rows: 50px minmax(150px, 1fr) 50px minmax(150px, 1fr) 50px repeat(2,minmax(150px, 1fr)) 100px 100px;
    align-items: center;
    padding: 20px 120px;
}

.graficos__tabs-container__grid-resumen .title-form-1{
    grid-column: 1 / 1;
    grid-row:  1 / 1;

    & p {
      font-size: 1.8rem;
      color: var(--texto-primario);
      font-weight: 600;
    }

  }

.graficos__tabs-container__grid-resumen__grafico-1{
    grid-column: 1 / 1;
    grid-row:  2 / 2;

}

.graficos__tabs-container__grid-resumen .title-form-2{
    grid-column: 1 / 1;
    grid-row:  3 / 3;

    & p {
      font-size: 1.8rem;
      color: var(--texto-primario);
      font-weight: 600;
    }

}

.graficos__tabs-container__grid-resumen__grafico-2{
    grid-column: 1 / 1;
    grid-row:  4 / 4;

}

.graficos__tabs-container__grid-resumen .title-form-3{
    grid-column: 1 / 1;
    grid-row:  5 / 5;

    & p {
      font-size: 1.8rem;
      color: var(--texto-primario);
      font-weight: 600;
    }

}

.graficos__tabs-container__grid-resumen__tarjeta-precio{
    grid-column: 1 / 1;
    grid-row:  6 / 6;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.graficos__tabs-container__grid-resumen__grafico-3{
    grid-column: 1 / 1;
    grid-row:  7 / 7;

}

.graficos__tabs-container__grid-resumen .pie {
    grid-column: 1 / 1;
    grid-row: 8 / 8;
}

.graficos__tabs-container__grid-resumen__botones {
    grid-column: 1 / 1;
    grid-row: 9 / 9;
    display: flex;
    justify-content: flex-end;

    & .ui-button {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 5%;
        padding: 0 32px;
        background-color: var(--estado-error);
      }

      & .ui-button.ui-button--estado-sistema {
        background: var(--estado-sistema);
      }
  }

.graficos_tabs-container__grid-resumen__tarjeta-precio__estandar{
    margin-right: 7%;

    & .ui-tarjeta {
        color: var(--texto-blanco);
        height: 100%;
        padding: 3%;
        background-color: #0743E2;

        & .header-titulo {
            font-size: 1.2rem;
            font-weight: 400;
            text-align: center;
            margin-top: 15px;
        }

        & .center-content {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.5rem;
            font-weight: 800;
            text-align: center;
            margin-top: 2%;
        }
    }
}

.graficos_tabs-container__grid-resumen__tarjeta-precio__mascomun{

    & .ui-tarjeta {
        color: var(--texto-blanco);
        height: 100%;
        padding: 3%;
        background-color: var(--ui-primario);

        & .header-titulo {
            font-size: 1.2rem;
            font-weight: 400;
            text-align: center;
            margin-top: 15px;
        }

        & .center-content {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.5rem;
            font-weight: 800;
            text-align: center;
            margin-top: 2%;
        }
    }
}

.graficos__tabs-container__grid-imagenes {

    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-template-rows: repeat(auto-fit,minmax(100px, 1fr));
    align-items: center;
    gap: 30px;
    padding: 20px 120px;

}

.productos-slide{

    margin-left: 25%;
    width: 180px;
    height: 260px;
    box-shadow: #000000;
    cursor: pointer;
}
.mat-card-image{
    margin-left: 55px;
    width: 75px;
    height: 175px;

}

.mat-card__ui-separator-horizontal {
    width: 70%;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.mat-card-title__custom {
    font-size: 12px;
    text-align: center;
    font-family: var(--fuente);
}

.mat-card-subtitle__custom {
    font-size: 12px;
    text-align: center;
    font-family: var(--fuente);
    color: var(--texto-primario);

}

.graficos__tabs-container__grid-imagenes .pie {
    grid-column: 1 / 4;

}

.graficos__tabs-container__grid-desglose {

    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-template-rows: repeat(4,50px minmax(150px, 1fr));
    align-items: center;
    padding: 20px 120px;
}

.graficos__tabs-container__grid-desglose .title-form-1{
    grid-column: 1 / 1;
    grid-row:  1 / 1;

    & p {
      font-size: 1.8rem;
      color: var(--texto-primario);
      font-weight: 600;
    }

}

.graficos__tabs-container__grid-desglose__grafico-1{
    grid-column: 1 / 3;
    grid-row:  2 / 2;

}

.graficos__tabs-container__grid-desglose .title-form-2{
    grid-column: 1 / 1;
    grid-row:  3 / 3;

    & p {
      font-size: 1.8rem;
      color: var(--texto-primario);
      font-weight: 600;
    }

}

.graficos__tabs-container__grid-desglose__grafico-2{
    grid-column: 1 / 1;
    grid-row:  4 / 4;

}

.graficos__tabs-container__grid-desglose .title-form-3{
    grid-column: 2 / 2;
    grid-row:  3 / 3;

    & p {
      font-size: 1.8rem;
      color: var(--texto-primario);
      font-weight: 600;
    }

}

.graficos__tabs-container__grid-desglose__grafico-3{
    grid-column: 2 / 2;
    grid-row:  4 / 4;

}

.graficos__tabs-container__grid-desglose .title-form-4{
    grid-column: 1 / 1;
    grid-row:  5 / 5;

    & p {
      font-size: 1.8rem;
      color: var(--texto-primario);
      font-weight: 600;
    }

}

.graficos__tabs-container__grid-desglose__grafico-4{
    grid-column: 1 / 1;
    grid-row:  6 / 6;

}

.graficos__tabs-container__grid-desglose .title-form-5{
    grid-column: 2 / 2;
    grid-row:  5 / 5;

    & p {
      font-size: 1.8rem;
      color: var(--texto-primario);
      font-weight: 600;
    }

}

.graficos__tabs-container__grid-desglose__grafico-5{
    grid-column: 2 / 2;
    grid-row:  6 / 6;

}

.graficos__tabs-container__grid-desglose .title-form-6{
    grid-column: 1 / 1;
    grid-row:  7 / 7;

    & p {
      font-size: 1.8rem;
      color: var(--texto-primario);
      font-weight: 600;
    }

}

.graficos__tabs-container__grid-desglose__grafico-6{
    grid-column: 1 / 3;
    grid-row:  8 / 8;

}

.header-titulo {
    font-size: 1.7rem;
    font-weight: 800;
    text-align: center;
}

.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
    margin-top: 2%;
}

.content {
    justify-content: space-between;
    display: flex;
    margin-top: 2%;
}

.left-content {
    display: flex;
    align-items: center;
}

.left-content-1 img {
    height: 30px;
}

.left-content-2 {
    font-size: 2.0rem;
    font-weight: 600;
    margin-left: 5px;
}

.right-pie {
    margin-left:80%;

    & .ui-link {
        display: block;
        margin-bottom: 5px; /* Espacio entre los enlaces */
    }
  }


// Implementacion de progreso campaña

.barras-content{
    width: 100%;
    height: 20px;
    position: absolute;
    text-align: center;
    margin-top: 3%;


   }

.progress-bar {
    height: 20px;
    border-radius: 10px;
    background-color: var(--ui-secundario);
    overflow: hidden;
    & p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #FFF4E7;
    }
}

.progress-bar-fill {
    height: 20px;
    background-color: green;
    transition: width 0.3s ease-in-out;
    width: 75%;


  }

// termina implementacion de progreso campaña

.ui-tarjeta {
    color: var(--texto-primario);
    height: 100%;
    padding: 3%;
}

.ui-button-estado {
    background: #FFF4E7;
    color: var(--texto-primario);
    font-family: var(--fuente);
    font-size: 1.4rem;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%;
}

// INICIO IMPLEMENTACION DE MAT-TAB SIMPLE
.graficos .ui-tarjeta {
    display: flex;
    flex-direction: column;
    padding: 0px 24px 24px 24px;

    & .header-titulo {
      margin-bottom: 10px;
    }
  }

  .graficos__tabs-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .graficos__header {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--ui-secundario);

    & .graficos__boton-header {
      flex-direction: column;
      display: flex;
      justify-content: center;
      width: 100%;
      font-size: 1.6rem;
      font-weight: 600;
      color: var(--texto-primario);
      cursor: pointer;

      & .ui-separator-horizontal {
        margin-bottom: 4px;
      }

      & .graficos__boton-header__contenedor {
        display: inline-block;
        align-self: center;

        & .graficos__tab-nombre {
          text-align: center;
          margin-bottom: 10px;
          margin-top: 10px;
        }

      }

    }

    & .ui-separator-horizontal {
      background: var(--texto-blanco);

      &.graficos__separator--activado {
        background: var(--ui-primario);
      }
    }
  }

  // FIN IMPLEMENTACION DE MAT-TAB SIMPLE
