<div class="container">
    <div class="header">
        <h1 class="title">Campaña <img src="../../../../assets/icons/next.svg" style="height: 30px;"> <p style="width: 100%;font-size: 20px;color: var(--estado-sistema);margin-left: 20px;"> Resultados</p></h1>
    </div>

    <!-- Logo del cliente -->
    <div class="logo-cliente">
        <img class="img" src="../../../../assets/imgs/clientes-particular/Farmacity_logo.png" >
    </div>
    <div class="id-cliente">
        <p class="id-cliente__title">ID Cliente</p>
        <p class="id-cliente__id">#C32</p>
    </div>
    <div class="progreso">
      <div class="header-titulo">
        Progreso
      </div>
      <div class="ui-tarjeta">
        <div class="center-content">
          <div class="barras-content">
            <div class="progress-bar">
              <div class="progress-bar-fill"></div>
              <p>75%</p>
            </div>
          </div>
        </div>
      </div>
      
    </div>  
    <div class="nombre-campania">
        <div class="ui-tarjeta">
          <div class="header-titulo">
            Nombre de campaña
          </div>
          <div class="center-content">
            <p>Farmacity Producto</p>
          </div>
        </div>
      </div>
      <div class="id-campania">
        <div class="ui-tarjeta">
          <div class="header-titulo">
            ID Campaña
          </div>
          <div class="center-content">
            <p>#CAMP32</p>
          </div>
        </div>
      </div>
      <div class="fecha-inicio">
        <div class="ui-tarjeta">
          <div class="header-titulo">
            Fecha de Inicio
          </div>
          <div class="center-content">
            <p>25/10/2022</p>
          </div>
        </div>
      </div>
      <div class="fecha-fin">
        <div class="ui-tarjeta">
          <div class="header-titulo">
            Fecha de Fin
          </div>
          <div class="center-content">
            <p>25/05/2023</p>
          </div>
        </div>
      </div>
      <div class="estado-cliente">
        <div class="ui-tarjeta">
          <div class="center-content">
            <p class="estado-cliente__text">Estado:</p>
            <p class="estado-cliente__estado">Activa</p>
          </div>
        </div>
    </div>
      <div class="tipo-servicio">
        <div class="ui-tarjeta">
          <div class="header-titulo">
            Tipo de Servicio
          </div>
          <div class="center-content">
            <p>Presencia</p>
          </div>
        </div>
      </div>

      <div class="articulos">
        <div class="ui-tarjeta">
          <div class="header-titulo">Artículos</div>
          <div class="content">
            <div class="left-content">
              <div class="left-content-1">
                <img src="../../../../assets/icons/articulos.svg" alt="Icono de articulos">
              </div>
              <div class="left-content-2">
                <span>1</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="comercios">
        <div class="ui-tarjeta">
          <div class="header-titulo">Comercios</div>
          <div class="content">
            <div class="left-content">
              <div class="left-content-1">
                <img src="../../../../assets/icons/comercios.svg" alt="Icono de comercios">
              </div>
              <div class="left-content-2">
                <span>1.000</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="misiones-realizadas">
        <div class="ui-tarjeta">
          <div class="header-titulo">
            Misiones realizadas
          </div>
          <div class="center-content">
            <p>750 / 1.000</p>
          </div>
        </div>
      </div>
      <div class="graficos">
        <div class="ui-tarjeta">
          <div class="graficos__header">
            <a class="graficos__boton-header" (click)="selectTab('Resumen')">
              <div class="ui-separator-horizontal"
                [ngClass]="{'graficos__separator--activado': selectedTab === 'Resumen'}"></div>
              <div class="graficos__boton-header__contenedor">
                <div class="graficos__tab-nombre">Resumen</div>
              </div>
            </a>
            <a class="graficos__boton-header" (click)="selectTab('Imagenes')">
              <div class="ui-separator-horizontal"
                [ngClass]="{'graficos__separator--activado': selectedTab === 'Imagenes'}"></div>
              <div class="graficos__boton-header__contenedor">
                <div class="graficos__tab-nombre">Imágenes</div>
              </div>
            </a>
            <a class="graficos__boton-header" (click)="selectTab('Desglose')">
              <div class="ui-separator-horizontal" [ngClass]="{'graficos__separator--activado': selectedTab === 'Desglose'}">
              </div>
              <div class="graficos__boton-header__contenedor">
                <div class="graficos__tab-nombre">Desglose</div>
              </div>
            </a>
          </div>
          <div class="graficos__tabs-container">
            <div class="tab" *ngIf="selectedTab === 'Resumen'">
              <div class="graficos__tabs-container__grid-resumen">
                <div class="title-form-1">
                  <p>¿Pudiste encontrar el producto?</p>
                </div>
                <div class="graficos__tabs-container__grid-resumen__grafico-1">
                  Grafico
                </div>
                <div class="title-form-2">
                  <p>¿El producto tiene una etiqueta con el precio?</p>
                </div>
                <div class="graficos__tabs-container__grid-resumen__grafico-2">
                  Grafico
                </div>
                <div class="title-form-3">
                  <p>¿Cuál es el precio del producto?</p>
                </div>
                <div class="graficos__tabs-container__grid-resumen__tarjeta-precio">
                  <div class="graficos_tabs-container__grid-resumen__tarjeta-precio__estandar">
                    <div class="ui-tarjeta">
                      <div class="header-titulo">
                        Estándar
                      </div>
                      <div class="center-content">
                        <p>41,00</p>
                      </div>
                    </div>
                  </div>
                  <div class="graficos_tabs-container__grid-resumen__tarjeta-precio__mascomun">
                    <div class="ui-tarjeta">
                      <div class="header-titulo">
                        Más común
                      </div>
                      <div class="center-content">
                        <p>41,25</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="graficos__tabs-container__grid-resumen__grafico-3">
                  Grafico
                </div>
                <div class="pie">
                  <div class="right-pie">
                    <a class="ui-link">Exportar como .svg</a>
                    <a class="ui-link">Exportar como .png</a>
                    <a class="ui-link">Exportar como .csv</a>
                  </div>
                </div>
                <div class="graficos__tabs-container__grid-resumen__botones">
                  <button class="ui-button ui-button--estado-sistema" type="button">Pausar</button>
                  <button class="ui-button" type="button">Finalizar</button>
                </div>
              </div>
            </div>
            <div class="tab" *ngIf="selectedTab === 'Imagenes'">
              <div class="graficos__tabs-container__grid-imagenes">
                <div *ngFor="let product of products" >
    
                  <mat-card class="productos-slide"  >
                     <img src="{{product.imageUrl}}" alt="{{product.name}}" class="mat-card-image">
                     <mat-divider class="mat-card__ui-separator-horizontal ui-separator-horizontal"></mat-divider>
                     <mat-card-content >
                         <mat-card-subtitle class="mat-card-subtitle__custom"><strong>{{product.description}}</strong></mat-card-subtitle>
                       </mat-card-content>
                  </mat-card>
                 
                
                 </div>

                 <div class="pie">
                  <div class="right-pie">
                    <a class="ui-link">Exportar como .svg</a>
                    <a class="ui-link">Exportar como .png</a>
                    <a class="ui-link">Exportar como .csv</a>
                  </div>
                </div>

              </div>
            </div>
            <div class="tab" *ngIf="selectedTab === 'Desglose'">
              <div class="graficos__tabs-container__grid-desglose">
                <div class="title-form-1">
                  <p>Mapa</p>
                </div>
                <div class="graficos__tabs-container__grid-desglose__grafico-1">
                  Grafico
                </div>
                <div class="title-form-2">
                  <p>Rango de Edad</p>
                </div>
                <div class="graficos__tabs-container__grid-desglose__grafico-2">
                  Grafico
                </div>
                <div class="title-form-3">
                  <p>Género</p>
                </div>
                <div class="graficos__tabs-container__grid-desglose__grafico-3">
                  Grafico
                </div>
                <div class="title-form-4">
                  <p>Cantidad de niños</p>
                </div>
                <div class="graficos__tabs-container__grid-desglose__grafico-4">
                  Grafico
                </div>
                <div class="title-form-5">
                  <p>Nacionalidad</p>
                </div>
                <div class="graficos__tabs-container__grid-desglose__grafico-5">
                  Grafico
                </div>
                <div class="title-form-6">
                  <p>Misiones</p>
                </div>
                <div class="graficos__tabs-container__grid-desglose__grafico-6">
                  Grafico
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
