<div class="container">
  <section class="header">
    <h1 class="title">{{'metrics_product_title' | translate }}</h1>
    <div class="buttons">
      <mat-spinner *ngIf="loadingCSV" class="login-button" mode="indeterminate" [diameter]="30"></mat-spinner>
      <!-- <button *ngIf="!loadingCSV" class="ui-button" type="button"
        (click)="dialogDownloadCsv()">{{'metrics_button_download_csv' | translate }}</button> -->
      <button id="filtersButton" class="ui-button" type="button" (click)="dialogFilters()">{{'metrics_filters_button' |
        translate }}</button>
    </div>
  </section>
  <mat-spinner *ngIf="loadingMetrics" class="loading-questions" mode="indeterminate" [diameter]="30"></mat-spinner>
  <section class="main_tarjetas">
    <div class="ui-tarjeta">
      <div class="question">
        <h2>{{'metrics_product_reachs_title' | translate }}</h2>
      </div>
      <br>
      <p>{{'metrics_product_reachs_reach' | translate }}: {{ this.reachMetrics.reach}}</p>
      <br>
      <p>{{'metrics_product_reachs_pounds_delivered' | translate }}: {{this.reachMetrics.poundsDelivered}}</p>
      <br>
    </div>
    <div class="ui-tarjeta">
      <div class="question">
        <h2>{{'metrics_product_kind_of_product_title' | translate }}</h2>
      </div>
      <div id="chartYESNO" *ngIf="chartOptionsKindOfProduct">
        <apx-chart [series]="chartOptionsKindOfProduct.series" [chart]="chartOptionsKindOfProduct.chart"
          [labels]="chartOptionsKindOfProduct.labels" [legend]="chartOptionsKindOfProduct.legend"
          [colors]="chartOptionsKindOfProduct.colors" [responsive]="chartOptionsKindOfProduct.responsive"
          [theme]="chartOptionsKindOfProduct.theme" [dataLabels]="chartOptionsKindOfProduct.dataLabels"
          [tooltip]="chartOptionsKindOfProduct.tooltip"></apx-chart>
      </div>
    </div>
    <div class="ui-tarjeta">
      <div class="question">
        <h2>{{'metrics_product_with_pounds_per_location_title' | translate }}</h2>
      </div>
      <br>
      <p>{{'metrics_demographic_average' | translate }}: {{ this.poundsPerLocationAverage}}</p>
      <br>
      <p>{{'metrics_demographic_median' | translate }}: {{this.poundsPerLocationMedian}}</p>
      <br>
      <div class="chart-container">
        <div id="chart" *ngIf="chartOptionsPoundsPerLocation">
          <apx-chart [series]="chartOptionsPoundsPerLocation.series" [chart]="chartOptionsPoundsPerLocation.chart"
            [dataLabels]="chartOptionsPoundsPerLocation.dataLabels" [plotOptions]="chartOptionsPoundsPerLocation.plotOptions"
            [xaxis]="chartOptionsPoundsPerLocation.xaxis"></apx-chart>
        </div>
      </div>
    </div>
  </section>
</div>
