
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 56px;
}

.main {
  font-size: 1.4rem;
}

.title {
  margin-bottom: 16px;
}

.header,
.ui-tarjeta {
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__title{
  display: flex;
  align-items: baseline;
}

.header__title .loading-tables {
  margin-left: 16px;
}

.header .ui-button {
  margin-bottom: 16px;
}

.ui-tarjeta{
  margin: 0 auto;
  padding: 48px;
  border-top: 4px solid var(--ui-primario);
  // background-image: linear-gradient(to bottom, var(--ui-primario) 0%, var(--ui-primario) 2%, transparent 2%, transparent 100%);
}

.main_formulario {
  display: grid;
  grid-template-columns: repeat(2, minmax(24px, 1fr));
  grid-template-rows: repeat(2, auto);
  row-gap: 16px;
  column-gap: 48px;
  align-items: center;
}
// name
.card:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
// product_type
.card:nth-child(2) {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
// quantity
.card:nth-child(3) {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}
// value_usd
.card:nth-child(4) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
// creation_date
.card:nth-child(5) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
// modification_date
.card:nth-child(6) {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

// separator
.card:nth-child(7) {
  grid-column: 1 / -1;
  grid-row: 4 / 5;
}

.card {
  &:nth-child(8) {
    grid-column: 1 / -1;
    grid-row: 5 / 6;
  }

  table {
    width: 100%; /* Hace que la tabla ocupe el ancho completo de su contenedor */
    text-align: center; /* Centra el texto en las celdas */
    border-collapse: collapse; /* Elimina el espacio entre las celdas */
    table-layout: fixed; /* Hace que todas las columnas tengan el mismo ancho */

    th, td {
      border: 1px solid #ddd; /* Agrega una línea separadora a las celdas */
      padding: 8px; /* Agrega un poco de espacio alrededor del texto en las celdas */
      word-wrap: break-word; /* Permite que el texto se divida y pase a la siguiente línea si no cabe en la celda */
    }

    th {
      background-color: #f2f2f2; /* Agrega un color de fondo al encabezado de la tabla */
    }
  }
}
// separator
.card:nth-child(9) {
  grid-column: 1 / -1;
  grid-row: 6 / 7;
}
// buttons
.card:nth-child(10) {
  grid-column: 1 / -1;
  grid-row: 7 / 8;
}

.card mat-form-field{
  width: 100%;
}

.main_formulario .ui-separator-horizontal.ui-separator-horizontal--gris {
  background: var(--ui-secundario);
}


.ui-button {
  padding: 0 32px;
}

.ui-button--estado-sistema {
  margin: 0 16px;
}

.required {
  color: var(--estado-error);
  font-weight: 600;
}

.mensaje-input-destination{
  margin-top: -24px;
}

// Media queries responsive

.mobile {
  @import './view-product-movil.component.scss';
}

.tablet {
  @import './view-product-tablet.component.scss';
}
