<div [ngClass]="{'mobile': isMobile, 'tablet': isTablet}">
  <div class="container">
    <section class="header">
      <div>
        <h1 class="title">{{'view_ticket_title' | translate }} {{idTicket}}</h1>
      </div>
    </section>
    <section class="main">
      <div class="ui-tarjeta ">

        <div class="main_formulario">
          <!-- donation id -->
          <div class="card">
            <mat-label><strong>{{'stocker_input_donation_id' | translate }}:</strong> {{viewTicket.donation_id}}</mat-label>
          </div>
          <!-- destination -->
          <div class="card">
            <mat-label><strong>{{'stocker_input_destination' | translate }}:</strong> {{viewTicket.location}}</mat-label>
          </div>
          <!-- date -->
          <div class="card">
            <mat-label><strong>{{'stocker_input_date' | translate }}:</strong> {{viewTicket.date}}</mat-label>
          </div>
          <!-- total weight -->
          <div class="card">
            <mat-label><strong>{{'stocker_input_total_weight' | translate }}:</strong> {{viewTicket.total_weight}}</mat-label>
          </div>
          <!-- provider -->
          <div class="card">
            <mat-label><strong>{{'stocker_input_provider' | translate }}:</strong> {{viewTicket.provider}}</mat-label>
          </div>
          <!-- delivered_by -->
          <div class="card">
            <mat-label><strong>{{'stocker_input_delivered_by' | translate }}:</strong> {{viewTicket.delivered_by}}</mat-label>
          </div>
          <!-- created by id -->
          <div class="card">
            <mat-label><strong>{{'view_ticket_created_by_id' | translate }}:</strong> {{viewTicket.created_by_id}}</mat-label>
          </div>
          <!-- created by username -->
          <div class="card">
            <mat-label><strong>{{'view_ticket_created_by_username' | translate }}:</strong> {{viewTicket.created_by_username}}</mat-label>
          </div>
          <!-- ticket_photo -->
          <div class="card">
            <!-- <div class="subir-archivo">
                <span> -->
            <mat-label><strong>{{'view_ticket_images' | translate }}:</strong></mat-label>
            <br><br>
            <app-carousel [imagenes]="this.viewTicketImages"></app-carousel>
            <!-- </span>
              </div> -->
          </div>
          <!-- separator -->
          <div class="card ">
            <div class="ui-separator-horizontal ui-separator-horizontal--gris"></div>
          </div>

          <div class="card">
            <table>
              <thead>
                <tr>
                  <th>{{'Product' | translate}}</th>
                  <th>{{'Quantity' | translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let product of viewTicket.products">
                  <td>{{product.product}}</td>
                  <td>{{product.quantity}}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- separator -->
          <div class="card ">
            <!-- <div class="ui-separator-horizontal"></div> -->
            <div class="ui-separator-horizontal ui-separator-horizontal--gris"></div>
          </div>
          <!-- buttons -->
          <div class="card">

          </div>
        </div>

      </div>
    </section>
  </div>
</div>
