.cuerpo {
  background-color: var(--ui-secundario);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100px;
}

header {
  height: 7vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--ui-primario);
}

#languageSelector {
  margin-right: 16px;
}

.mat-button-toggle-group {
  height: 32px;
  align-items: center;
  font-weight: 400;
}

// header img {
//   height: 100%;
//   margin-left: 15px;
//   margin-top: 20px;
// }
header span {
  margin-left: 16px;
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--texto-blanco);
}

header #logo {
  color: var(--texto-blanco);
  //eliminar el subrayado del link
  text-decoration: none;
  cursor: pointer;
}

main {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ui-tarjeta {
  max-width: 416px;
  min-width: 320px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 32px;
  margin: 0 16px;
}

.ui-tarjeta h1 {
  align-self: left;
  font-size: 3.0rem;
  font-weight: 600;
  color: var(--texto-primario);
  margin-bottom: 32px;
}

.tarjeta__input {
  display: flex;
  flex-direction: column;
}

.tarjeta__input .ui-input {
  width: 100%;
}

.tarjeta__input mat-form-field {
  margin-bottom: 8px;
}

.tarjeta__input label {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--texto-primario);
  // margin-bottom: 8px;
}

.ui-tarjeta form {
  display: flex;
  flex-direction: column;
}

.ui-tarjeta .tarjeta__button {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    max-width: 100%;
    margin-bottom: 16px;
  }
}

.ui-tarjeta .tarjeta__button.firstpage{
  width: inherit;
}

.ui-button.firstpage{
  width: 100%;
  height: 64px;
}
.ui-button.firstpage:nth-child(1){
  margin-top: 16px;
  margin-bottom: 32px;
}
.ui-button.firstpage:nth-child(2){
  margin-bottom: 16px;
}

.ui-separator-horizontal {
  margin-top: 32px;
  margin-bottom: 16px;
}

.ui-link {
  align-self: center;
}

.ui-link.login{
  margin-bottom: 8px;
}

.tarjeta__checkbox {
  margin-left: -10px;
  margin-top: -16px;
  margin-bottom: 16px;
}

.mdc-form-field>label {
  padding-left: 0px;
}

.texto-soporte {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--texto-primario);
  margin-top: 16px;
}

.line-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

hr {
  flex-grow: 1;
  height: 1px;
  background-color: black;
  border: none;
}

.line-text {
  margin: 0 10px;
  font-size: 1.4rem;
  font-weight: bold;
}

footer {
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  .ui-link {
    margin-right: 16px;
    color: #537045;
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 387px) {
  header span {
    margin-left: 16px;
    font-size: 2.0rem;
    font-weight: 600;
    color: var(--texto-blanco);
  }
}
@media only screen and (max-width: 357px) {
  header span {
    margin-left: 16px;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--texto-blanco);
  }
}
