


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 56px;
}

.main {
  font-size: 1.2rem;
}

.title {
  margin-bottom: 16px;
}

.header,
.ui-tarjeta {
  width: 100%;
}

.ui-tarjeta{
  margin: 0 auto;
  padding: 48px;
  border-top: 4px solid var(--ui-primario);
  // background-image: linear-gradient(to bottom, var(--ui-primario) 0%, var(--ui-primario) 2%, transparent 2%, transparent 100%);
}

.main_formulario {
  display: grid;
  grid-template-columns: repeat(2, minmax(24px, 1fr));
  grid-template-rows: repeat(2, auto);
  row-gap: 16px;
  column-gap: 48px;
  align-items: center;
}
// username
.card:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
// password
.card:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
// firstname
.card:nth-child(3) {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
// lastname
.card:nth-child(4) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
// email
.card:nth-child(5) {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}
// date_of_birth
.card:nth-child(6) {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}
// gender
.card:nth-child(7) {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}
// role
.card:nth-child(8) {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}
// separator
.card:nth-child(9) {
  grid-column: 1 / -1;
  grid-row: 5 / 6;
}
// buttons
.card:nth-child(10) {
  grid-column: 1 / -1;
  grid-row: 7 / 8;
}

.card mat-form-field{
  width: 100%;
}

.main_formulario .ui-separator-horizontal.ui-separator-horizontal--gris {
  background: var(--ui-secundario);
}


.ui-button {
  padding: 0 32px;
}

.ui-button--estado-sistema {
  margin: 0 16px;
}


.required {
  color: var(--estado-error);
  font-weight: 600;
}

.main_formulario .main__footer {
  display: flex;
  justify-content: flex-end;
}

.card .main__footer{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

// Media queries responsive

.mobile {
  @import './new-user-movil.component.scss';
}

.tablet {
  @import './new-user-tablet.component.scss';
}
