<div class="container" id="container-step1" *ngIf="step==1">
    <div class="header">
        <h1 class="title">Clientes</h1>
    </div>

    <div class="subheader">
        <h2 class="subtitle">Nuevo Artículo</h2>
    </div>

    <div class="title-1">
        <h3 class="out-title">Carga Masiva</h3>
    </div>

    <div class="carga-masiva">
        <div class="ui-tarjeta">
            <div class="grid-carga-masiva">
                <div class="download">
                    <div class="ui-tarjeta">
                        <img src="../../../../assets/icons/download.svg" alt="Icono de download">
                    </div>
                    <p>Descargar template</p>
                </div>
                <div class="upload">
                    <div class="ui-tarjeta">
                        <img src="../../../../assets/icons/upload.svg" alt="Icono de upload">
                    </div>
                    <p>Subir archivo</p>
                </div>
                <div class="cargar">
                    <button class="ui-button">Cargar</button>
                </div>
            </div>

        </div>
      </div>

      <div class="title-2">
        <h3 class="out-title">Carga Simple</h3>
    </div>

    <div class="carga-simple">
        <div class="ui-tarjeta">
            <div class="primer_step" *ngIf="step==1">
                <div class="main__steps_container">
                    <div class="main__linea_horizontal"></div>
                    <div class="main__primer_circulo circulo-selected-ui-primario"></div>
                    <div class="main__segundo_circulo"></div>
                    <div class="main__tercer_circulo"></div>
                    <div class="main__cuarto_circulo"></div>
                </div>
                <form action="">
                    <div class="grid-carga-simple">
                        <div class="form-group cliente">
                            <label for="cliente">Cliente</label>
                            <input type="text" class="form-group ui-input" value="Farmacity">
                        </div>
                        <div class="form-group nombre-articulo">
                            <label for="nombre-articulo">Nombre Artículo</label>
                            <input type="text" class="form-group ui-input">
                        </div>
                        <div class="form-group tipo-articulo">
                            <label for="tipo-comercio">Tipo de Artículo</label>
                            <select type="text" class="form-group ui-input" [(ngModel)]="tipo" name="tipo">
                                <option value="producto" selected>Producto</option>
                                <option value="otro">Otro</option>
                            </select>
                        </div>
                        <div class="form-group id-cliente">
                            <label for="id-cliente">ID Cliente</label>
                            <input type="text" class="form-group ui-input" value="#C15" disabled>
                        </div>
                        <div class="ui-separator-horizontal ui-separator-horizontal--gris"></div>

                        <div class="form-group gtin">
                            <label for="gtin">GTIN</label>
                            <input type="text" class="form-group ui-input">
                        </div>

                        <div class="ui-separator-horizontal"></div>

                        <div class="botones">
                            <button class="ui-button" type="button" (click)="addStep()">Siguiente</button>
                        </div>


                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<div class="container" id="container-steps" *ngIf="step!=1">
    <div class="header">
        <h1 class="title">Clientes</h1>
    </div>

    <div class="subheader">
        <h2 class="subtitle">Nuevo Artículo</h2>
    </div>

    <div class="carga-simple">
        <div class="ui-tarjeta">
            <div class="primer_step" *ngIf="step==2 && tipo == 'otro'">
                <div class="main__steps_container">
                    <div class="main__linea_horizontal"></div>
                    <div class="main__primer_circulo circulo-pasado-ui-primario"></div>
                    <div class="main__segundo_circulo circulo-selected-ui-primario"></div>
                    <div class="main__tercer_circulo"></div>
                    <div class="main__cuarto_circulo"></div>
                </div>
                <form action="">
                    <div class="grid-carga-simple otro-1">
                        <div class="title-form">
                            <p>{{ tipo.charAt(0).toUpperCase() + tipo.slice(1) + 's' }}</p>
                        </div>
                        <div class="subtitle-form">
                            <p>Especificaciones</p>
                        </div>
                        <div class="form-group nombre-generico">
                            <label for="nombre-generico">Nombre Genérico</label>
                            <input type="text" class="form-group ui-input">
                        </div>
                        <div class="form-group descripcion">
                            <label for="descripcion">Descripción</label>
                            <input type="text" class="form-group ui-input">
                        </div>
                        <div class="form-group identificacion">
                            <label for="identificacion">Identificación</label>
                            <input type="text" class="form-group ui-input">
                        </div>

                        <div class="ui-separator-horizontal"></div>

                        <div class="botones">
                            <button class="ui-button ui-button--estado-sistema" type="button" (click)="subStep()">Volver</button>
                            <button class="ui-button" type="button" (click)="addStep()">Siguiente</button>
                        </div>


                    </div>
                </form>

            </div>

            <div class="primer_step" *ngIf="step==2 && tipo == 'producto'">
                <div class="main__steps_container">
                    <div class="main__linea_horizontal"></div>
                    <div class="main__primer_circulo circulo-pasado-ui-primario"></div>
                    <div class="main__segundo_circulo circulo-selected-ui-primario"></div>
                    <div class="main__tercer_circulo"></div>
                    <div class="main__cuarto_circulo"></div>
                </div>
                <form action="">
                    <div class="grid-carga-simple producto-1">
                        <div class="title-form">
                            <p>{{ tipo.charAt(0).toUpperCase() + tipo.slice(1) }}</p>
                        </div>
                        <div class="subtitle-form">
                            <p>Especificaciones</p>
                        </div>
                        <div class="form-group gtin">
                            <label for="gtin">GTIN</label>
                            <input type="text" class="form-group ui-input" value="7792280005686" disabled >
                        </div>
                        <div class="form-group descripcion">
                            <label for="descripcion">Descripción</label>
                            <input type="text" class="form-group ui-input">
                        </div>
                        <div class="form-group marca">
                            <label for="marca">Marca</label>
                            <input type="text" class="form-group ui-input">
                        </div>
                        <div class="form-group clasificacion">
                            <label for="clasificacion">Clasificación</label>
                            <input type="text" class="form-group ui-input">
                        </div>
                        <div class="form-group mercado-destino">
                            <label for="mercado-destino">Mercado destino</label>
                            <input type="text" class="form-group ui-input">
                        </div>
                        <div class="form-group contenido-neto">
                            <label for="contenido-neto">Contenido Neto</label>
                            <input type="text" class="form-group ui-input">
                        </div>

                        <div class="ui-separator-horizontal"></div>

                        <div class="botones">
                            <button class="ui-button ui-button--estado-sistema" type="button" (click)="subStep()">Volver</button>
                            <button class="ui-button" type="button" (click)="addStep()">Siguiente</button>
                        </div>


                    </div>
                </form>

            </div>

            <div class="primer_step" *ngIf="step==3">
                <div class="main__steps_container">
                    <div class="main__linea_horizontal"></div>
                    <div class="main__primer_circulo circulo-pasado-ui-primario"></div>
                    <div class="main__segundo_circulo circulo-pasado-ui-primario"></div>
                    <div class="main__tercer_circulo circulo-selected-ui-primario"></div>
                    <div class="main__cuarto_circulo"></div>
                </div>
                <form action="">
                    <div class="grid-carga-simple producto-2">
                        <div class="title-form" *ngIf="tipo=='otro'">
                            <p>{{ tipo.charAt(0).toUpperCase() + tipo.slice(1) + 's' }}</p>
                        </div>
                        <div class="title-form" *ngIf="tipo=='producto'">
                            <p>{{ tipo.charAt(0).toUpperCase() + tipo.slice(1) }}</p>
                        </div>
                        <div class="subtitle-form">
                            <p>Imágenes</p>
                        </div>
                        <div class="imagen">
                            <div class="ui-tarjeta">
                                <img src="../../../../assets/icons/upload.svg" alt="Icono de upload">
                            </div>
                            <p>Cargar Imágenes</p>
                            <span>Cargar más de una para brindar más detalle a los Ditors</span>
                        </div>
                        <div class="subtitle-form-2">
                            <p>Seleccionadas</p>
                        </div>

                        <div class="imagenes">
                            <div class="imagen">
                                <div class="ui-tarjeta">
                                    <img src="../../../../assets/icons/upload.svg" alt="Icono de upload">
                                </div>
                                <div class="estrella">
                                    <input type="radio" id="star1" name="rating" value="1" hidden>
                                    <label for="star1"><img class="star-inactiva" src="../../../../assets/icons/favorito-sin-seleccionar.svg" alt="Estrella inactiva"><img class="star-activa" src="../../../../assets/icons/favorito-seleccionado.svg" alt="Estrella activa"></label>
                                </div>
                            </div>
                            <div class="imagen">
                                <div class="ui-tarjeta">
                                    <img src="../../../../assets/icons/upload.svg" alt="Icono de upload">
                                </div>
                                <div class="estrella">
                                    <input type="radio" id="star2" name="rating" value="2" hidden>
                                    <label for="star2"><img class="star-inactiva" src="../../../../assets/icons/favorito-sin-seleccionar.svg" alt="Estrella inactiva"><img class="star-activa" src="../../../../assets/icons/favorito-seleccionado.svg" alt="Estrella activa"></label>
                                </div>
                            </div>
                            <div class="imagen">
                                <div class="ui-tarjeta">
                                    <img src="../../../../assets/icons/upload.svg" alt="Icono de upload">
                                </div>
                                <div class="estrella">
                                    <input type="radio" id="star3" name="rating" value="3" hidden>
                                    <label for="star3"><img class="star-inactiva" src="../../../../assets/icons/favorito-sin-seleccionar.svg" alt="Estrella inactiva"><img class="star-activa" src="../../../../assets/icons/favorito-seleccionado.svg" alt="Estrella activa"></label>
                                </div>
                            </div>
                            <div class="imagen">
                                <div class="ui-tarjeta">
                                    <img src="../../../../assets/icons/upload.svg" alt="Icono de upload">
                                </div>
                                <div class="estrella">
                                    <input type="radio" id="star4" name="rating" value="4" hidden>
                                    <label for="star4"><img class="star-inactiva" src="../../../../assets/icons/favorito-sin-seleccionar.svg" alt="Estrella inactiva"><img class="star-activa" src="../../../../assets/icons/favorito-seleccionado.svg" alt="Estrella activa"></label>
                                </div>
                            </div>
                        </div>

                        <div class="text-form">
                            <p>Marcar la <img class="star-activa" src="../../../../assets/icons/favorito-seleccionado.svg" alt="Estrella activa"> para seleccionar la imágen frontal</p>
                        </div>

                        <div class="ui-separator-horizontal"></div>

                        <div class="botones">
                            <button class="ui-button ui-button--estado-sistema" type="button" (click)="subStep()">Volver</button>
                            <button class="ui-button" type="button" (click)="addStep()">Siguiente</button>
                        </div>


                    </div>
                </form>

            </div>

            <div class="primer_step" *ngIf="step==4 && tipo == 'producto'">
                <div class="main__steps_container">
                    <div class="main__linea_horizontal"></div>
                    <div class="main__primer_circulo circulo-pasado-ui-primario"></div>
                    <div class="main__segundo_circulo circulo-pasado-ui-primario"></div>
                    <div class="main__tercer_circulo circulo-pasado-ui-primario"></div>
                    <div class="main__cuarto_circulo circulo-selected-ui-primario"></div>
                </div>
                <form action="">
                    <div class="grid-carga-simple producto-revision">
                        <div class="title-form-1">
                            <p>Información Cliente</p>
                        </div>
                        <div class="form-group cliente">
                            <label for="cliente">Cliente</label>
                            <input type="text" class="form-group ui-input" value="Farmacity" disabled>
                        </div>
                        <div class="form-group id-cliente">
                            <label for="id-cliente">ID Cliente</label>
                            <input type="text" class="form-group ui-input" value="#C15" disabled>
                        </div>
                        <div class="ui-separator-horizontal ui-separator-horizontal--gris-1"></div>
                        <div class="title-form-2">
                            <p>Tipo de artículo</p>
                        </div>
                        <div class="form-group nombre-articulo">
                            <label for="nombre-articulo">Nombre</label>
                            <input type="text" class="form-group ui-input" disabled>
                        </div>
                        <div class="form-group tipo-articulo">
                            <label for="tipo-articulo">Tipo de Artículo</label>
                            <input type="text" class="form-group ui-input" disabled>
                        </div>
                        <div class="ui-separator-horizontal ui-separator-horizontal--gris-2"></div>
                        <div class="title-form-3">
                            <p>{{ tipo.charAt(0).toUpperCase() + tipo.slice(1) }}</p>
                        </div>
                        <div class="subtitle-form-3">
                            <p>Especificaciones</p>
                        </div>
                        <div class="form-group descripcion">
                            <label for="descripcion">Descripción</label>
                            <input type="text" class="form-group ui-input" disabled>
                        </div>
                        <div class="form-group marca">
                            <label for="marca">Marca</label>
                            <input type="text" class="form-group ui-input" disabled>
                        </div>
                        <div class="form-group gtin">
                            <label for="gtin">GTIN</label>
                            <input type="text" class="form-group ui-input" disabled>
                        </div>
                        <div class="form-group mercado-destino">
                            <label for="mercado-destino">Mercado destino</label>
                            <input type="text" class="form-group ui-input" disabled>
                        </div>
                        <div class="form-group contenido-neto">
                            <label for="contenido-neto">Contenido Neto</label>
                            <input type="text" class="form-group ui-input" disabled>
                        </div>
                        <div class="ui-separator-horizontal ui-separator-horizontal--gris-3"></div>
                        <div class="title-form-4">
                            <p>Imágenes</p>
                        </div>

                        <div class="imagenes">
                            <div class="imagen">
                                <div class="ui-tarjeta">
                                    <img src="../../../../assets/icons/upload.svg" alt="Icono de upload">
                                </div>
                                <div class="estrella">
                                    <input type="radio" id="star1" name="rating" value="1" hidden checked disabled>
                                    <label for="star1"><img class="star-inactiva" src="../../../../assets/icons/favorito-sin-seleccionar.svg" alt="Estrella inactiva"><img class="star-activa" src="../../../../assets/icons/favorito-seleccionado.svg" alt="Estrella activa"></label>
                                </div>
                            </div>
                            <div class="imagen">
                                <div class="ui-tarjeta">
                                    <img src="../../../../assets/icons/upload.svg" alt="Icono de upload">
                                </div>
                                <div class="estrella">
                                    <input type="radio" id="star2" name="rating" value="2" hidden disabled>
                                    <label for="star2"><img class="star-inactiva" src="../../../../assets/icons/favorito-sin-seleccionar.svg" alt="Estrella inactiva"><img class="star-activa" src="../../../../assets/icons/favorito-seleccionado.svg" alt="Estrella activa"></label>
                                </div>
                            </div>
                            <div class="imagen">
                                <div class="ui-tarjeta">
                                    <img src="../../../../assets/icons/upload.svg" alt="Icono de upload">
                                </div>
                                <div class="estrella">
                                    <input type="radio" id="star3" name="rating" value="3" hidden disabled>
                                    <label for="star3"><img class="star-inactiva" src="../../../../assets/icons/favorito-sin-seleccionar.svg" alt="Estrella inactiva"><img class="star-activa" src="../../../../assets/icons/favorito-seleccionado.svg" alt="Estrella activa"></label>
                                </div>
                            </div>
                            <div class="imagen">
                                <div class="ui-tarjeta">
                                    <img src="../../../../assets/icons/upload.svg" alt="Icono de upload">
                                </div>
                                <div class="estrella">
                                    <input type="radio" id="star4" name="rating" value="4" hidden disabled>
                                    <label for="star4"><img class="star-inactiva" src="../../../../assets/icons/favorito-sin-seleccionar.svg" alt="Estrella inactiva"><img class="star-activa" src="../../../../assets/icons/favorito-seleccionado.svg" alt="Estrella activa"></label>
                                </div>
                            </div>
                        </div>

                        <div class="ui-separator-horizontal"></div>

                        <div class="botones">
                            <button class="ui-button ui-button--estado-sistema" type="button" (click)="subStep()">Volver</button>
                            <button class="ui-button" type="button">Crear</button>
                        </div>


                    </div>
                </form>

            </div>
            <div class="primer_step" *ngIf="step==4 && tipo == 'otro'">
                <div class="main__steps_container">
                    <div class="main__linea_horizontal"></div>
                    <div class="main__primer_circulo circulo-pasado-ui-primario"></div>
                    <div class="main__segundo_circulo circulo-pasado-ui-primario"></div>
                    <div class="main__tercer_circulo circulo-pasado-ui-primario"></div>
                    <div class="main__cuarto_circulo circulo-selected-ui-primario"></div>
                </div>
                <form action="">
                    <div class="grid-carga-simple otro-revision">
                        <div class="title-form-1">
                            <p>Información Cliente</p>
                        </div>
                        <div class="form-group cliente">
                            <label for="cliente">Cliente</label>
                            <input type="text" class="form-group ui-input" value="Farmacity" disabled>
                        </div>
                        <div class="form-group id-cliente">
                            <label for="id-cliente">ID Cliente</label>
                            <input type="text" class="form-group ui-input" value="#C15" disabled>
                        </div>
                        <div class="ui-separator-horizontal ui-separator-horizontal--gris-1"></div>
                        <div class="title-form-2">
                            <p>Tipo de artículo</p>
                        </div>
                        <div class="form-group nombre-articulo">
                            <label for="nombre-articulo">Nombre</label>
                            <input type="text" class="form-group ui-input" disabled>
                        </div>
                        <div class="form-group tipo-articulo">
                            <label for="tipo-articulo">Tipo de Artículo</label>
                            <input type="text" class="form-group ui-input" disabled>
                        </div>
                        <div class="ui-separator-horizontal ui-separator-horizontal--gris-2"></div>
                        <div class="title-form-3">
                            <p>{{ tipo.charAt(0).toUpperCase() + tipo.slice(1) + 's' }}</p>
                        </div>
                        <div class="subtitle-form-3">
                            <p>Especificaciones</p>
                        </div>
                        <div class="form-group descripcion">
                            <label for="descripcion">Descripción</label>
                            <input type="text" class="form-group ui-input" disabled>
                        </div>
                        <div class="form-group nombre-generico">
                            <label for="nombre-generico">Nombre Genérico</label>
                            <input type="text" class="form-group ui-input" disabled>
                        </div>
                        <div class="form-group identificacion">
                            <label for="identificacion">Identificación</label>
                            <input type="text" class="form-group ui-input" disabled>
                        </div>
                        <div class="ui-separator-horizontal ui-separator-horizontal--gris-3"></div>
                        <div class="title-form-4">
                            <p>Imágenes</p>
                        </div>

                        <div class="imagenes">
                            <div class="imagen">
                                <div class="ui-tarjeta">
                                    <img src="../../../../assets/icons/upload.svg" alt="Icono de upload">
                                </div>
                                <div class="estrella">
                                    <input type="radio" id="star1" name="rating" value="1" hidden checked disabled>
                                    <label for="star1"><img class="star-inactiva" src="../../../../assets/icons/favorito-sin-seleccionar.svg" alt="Estrella inactiva"><img class="star-activa" src="../../../../assets/icons/favorito-seleccionado.svg" alt="Estrella activa"></label>
                                </div>
                            </div>
                            <div class="imagen">
                                <div class="ui-tarjeta">
                                    <img src="../../../../assets/icons/upload.svg" alt="Icono de upload">
                                </div>
                                <div class="estrella">
                                    <input type="radio" id="star2" name="rating" value="2" hidden disabled>
                                    <label for="star2"><img class="star-inactiva" src="../../../../assets/icons/favorito-sin-seleccionar.svg" alt="Estrella inactiva"><img class="star-activa" src="../../../../assets/icons/favorito-seleccionado.svg" alt="Estrella activa"></label>
                                </div>
                            </div>
                            <div class="imagen">
                                <div class="ui-tarjeta">
                                    <img src="../../../../assets/icons/upload.svg" alt="Icono de upload">
                                </div>
                                <div class="estrella">
                                    <input type="radio" id="star3" name="rating" value="3" hidden disabled>
                                    <label for="star3"><img class="star-inactiva" src="../../../../assets/icons/favorito-sin-seleccionar.svg" alt="Estrella inactiva"><img class="star-activa" src="../../../../assets/icons/favorito-seleccionado.svg" alt="Estrella activa"></label>
                                </div>
                            </div>
                            <div class="imagen">
                                <div class="ui-tarjeta">
                                    <img src="../../../../assets/icons/upload.svg" alt="Icono de upload">
                                </div>
                                <div class="estrella">
                                    <input type="radio" id="star4" name="rating" value="4" hidden disabled>
                                    <label for="star4"><img class="star-inactiva" src="../../../../assets/icons/favorito-sin-seleccionar.svg" alt="Estrella inactiva"><img class="star-activa" src="../../../../assets/icons/favorito-seleccionado.svg" alt="Estrella activa"></label>
                                </div>
                            </div>
                        </div>

                        <div class="ui-separator-horizontal"></div>

                        <div class="botones">
                            <button class="ui-button ui-button--estado-sistema" type="button" (click)="subStep()">Volver</button>
                            <button class="ui-button" type="button">Crear</button>
                        </div>


                    </div>
                </form>

            </div>

        </div>
    </div>
</div>