<div class="container">
  <section class="header">
    <div class="header__title">
      <h1 class="title">{{'view_worker_title' | translate }} {{idWorker}}</h1>
      <mat-spinner *ngIf="loadingMetrics" class="loading-tables" mode="indeterminate" [diameter]="30"></mat-spinner>
    </div>
    <div>
      <!-- <button *ngIf="!loadingCSV" class="ui-button" type="button"
        (click)="dialogDownloadCsv()">{{'metrics_button_download_csv' | translate }}</button> -->
      <button id="filtersButton" class="ui-button" type="button" (click)="dialogFilters()">{{'metrics_filters_button' |
        translate }}</button>
      <button id="tableButton" type="button" class="ui-button" routerLink="/table/worker">
        {{'view_worker_button_workers' | translate }}</button>
    </div>
  </section>
  <mat-chip-set class="chip-grid">
    <ng-container *ngFor="let filterChip of filtersChip; let i = index">
      <mat-chip
        *ngIf="filterChip.code !== 'genders' &&
              filterChip.code !== 'ethnicities' &&
              filterChip.code !== 'zipcode' &&
              filterChip.code !== 'min_age' &&
              filterChip.code !== 'max_age' &&
              filterChip.code !== 'zipcode' &&
              filterChip.code !== 'product_types' &&
              filterChip.code !== 'providers'"
        (removed)="removeFilterChip(filterChip)">
        {{filterChip.name}}: {{filterChip.value}}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
    </ng-container>
  </mat-chip-set>
  <section class="main_tarjetas">
    <div class="ui-tarjeta">
      <div class="question">
        <h2>{{'view_worker_scanned_qr' | translate }}</h2>
      </div>
      <div id="chartYESNO" *ngIf="chartOptionsScannedQR">
        <apx-chart [series]="chartOptionsScannedQR.series" [chart]="chartOptionsScannedQR.chart"
          [labels]="chartOptionsScannedQR.labels" [legend]="chartOptionsScannedQR.legend"
          [colors]="chartOptionsScannedQR.colors" [responsive]="chartOptionsScannedQR.responsive"
          [theme]="chartOptionsScannedQR.theme" [dataLabels]="chartOptionsScannedQR.dataLabels"
          [tooltip]="chartOptionsScannedQR.tooltip"></apx-chart>
      </div>
    </div>
    <div class="ui-tarjeta">
      <div class="question">
        <h2>{{'view_user_table_title_delivery' | translate }}</h2>
      </div>
      <div id="chartYESNO">
        <ngx-charts-line-chart [xAxisTickFormatting]="formatXAxisTick" [view]="view" [scheme]="colorScheme"
          [legend]="legend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis"
          [yAxis]="yAxis" [autoScale]="autoScale" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
          [timeline]="timeline" [results]="multi">
          <ng-template #tooltipTemplate let-model="model">
            <div class="tooltip-mouse-punto-interseccion">
              <div>{{ model.series }}</div>
              <div>{{ model.name | date: 'MM/dd/yyyy' }}</div>
              <div>{{ model.value }}</div>
            </div>
          </ng-template>
        </ngx-charts-line-chart>
      </div>
    </div>
    <div class="ui-tarjeta">
      <div class="question">
        <h2>{{'view_user_table_title_delivery' | translate }}</h2>
      </div>
      <table>
        <thead>
          <tr>
            <th>{{'view_worker_table_header_id' | translate }}</th>
            <th>{{'view_worker_table_header_receiving_user_id' | translate }}</th>
            <th>{{'view_worker_table_header_username' | translate }}</th>
            <th>{{'view_worker_table_header_location' | translate }}</th>
            <th>{{'view_worker_table_header_creation_date' | translate }}</th>
            <th>{{'view_worker_table_header_view' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of viewWorkerTable">
            <td>{{row.id}}</td>
            <td>{{row.receiving_user_id}}</td>
            <td>{{row.username}}</td>
            <td>{{row.location}}</td>
            <td>{{row.creation_date}}</td>
            <td><a class="ui-link"
                [routerLink]="['/view/delivered', row.id]"><mat-icon>visibility</mat-icon></a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>
