.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 56px;
}

.main {
  font-size: 1.2rem;
}

.title {
  margin-bottom: 16px;
}

.header,
.ui-tarjeta {
  width: 100%;
}

.ui-tarjeta{
  margin: 0 auto;
  padding: 32px 64px;
  background-image: linear-gradient(to bottom, var(--ui-primario) 0%, var(--ui-primario) 2%, transparent 2%, transparent 100%);
  // gradiente
  // background-image: linear-gradient(to right, #FF8074 0%, #FFBF69 100%);
  // background-size: 100% 10px;
  // background-repeat: no-repeat;
}
.primer_step, .segundo_sep, .tercer_step {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.primer_step__main_formulario {
  display: grid;
  grid-template-columns: repeat(4, minmax(24px, 1fr));
  grid-template-rows: repeat(8, minmax(24px, 1fr));
  row-gap: 24px;
  column-gap: 64px;
  justify-content: center;
  align-items: center;
}

.primer_step__main_formulario .main__label_cliente {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.primer_step__main_formulario .main__input_cliente {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.primer_step__main_formulario .main__label_id-cliente {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.primer_step__main_formulario .main__input_id-cliente {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

.primer_step__main_formulario .main__label_id-cotizacion {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.primer_step__main_formulario .main__input_id-cotizacion {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.primer_step__main_formulario .ui-separator-horizontal.ui-separator-horizontal--gris {
  grid-column: 1 / 5;
  grid-row: 3 / 4;
  background: var(--ui-secundario);
}

.primer_step__main_formulario .main__label_nombre {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

.primer_step__main_formulario .main__input_nombre {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.primer_step__main_formulario .main__label_descripcion {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
}

.primer_step__main_formulario .main__input_descripcion {
  grid-column: 2 / 5;
  grid-row: 5 / 7;
  width: 100%;
  height: 100%;
}

.primer_step__main_formulario .ui-separator-horizontal {
  grid-column: 1 / 5;
  grid-row: 7 / 8;
}

.primer_step__main_formulario .main__footer {
  grid-column: 4 / 5;
  grid-row: 8 / 9;
  display: flex;
  justify-content: flex-end;
}

.ui-button {
  padding: 0 32px;
}

.ui-button--estado-sistema {
  margin: 0 16px;
}

.ui-input {
  width: 100%;
  height: 100%;
  min-height: 32px;
}

textarea {
  padding: 8px;
  resize: none;
}

.main__steps {
  display: flex;
  justify-content: center;
  height: 32px;
  align-items: center;
  margin-bottom: 32px;
  margin-top: 24px;
 }

 .main__steps_container {
  width: 600px;
  height: 40px;
  position: relative;
 }

 .main__linea_horizontal {
  height: 4px;
  background-color: var(--texto-secundario);
  position: absolute;
  top: calc(50% - 2px);
  left: 0;
  right: 0;
 }

 .main__circulo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--ui-secundario);
  position: absolute;
  top: calc(50% - 20px);
 }

 .main__primer_circulo {
  left: calc(0% - 20px);
 }

 .main__segundo_circulo {
  left: calc(20% - 20px);
 }

 .main__tercer_circulo {
  left: calc(40% - 20px);
 }

 .main__cuarto_circulo {
  left: calc(60% - 20px);
 }

 .main__quinto_circulo {
  left: calc(80% - 20px);
 }

 .main__sexto_circulo {
  right: calc(0% - 20px);
 }

 .circulo-selected-ui-primario {
  background-color: #FF8773;
 }

 .circulo-pasado-ui-primario {
  background-color: var(--ui-primario);
 }

 .main__circulo_numero {
  position:absolute;
  top:-8px;
  left:-8px;
  right:-8px;
  bottom:-8px;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:16px;
  font-weight:600;
  color:#fff
 }

 .main__circulo_nombre {
  position:absolute;
  top:-80px;
  left:-8px;
  right:-8px;
  bottom:-8px;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:12px;
  font-weight: 600;
 }



.main__label {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--texto-primario);
}
