.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 56px;
}

.main {
  font-size: 1.2rem;
}

.title {
  margin-bottom: 16px;
}

.header,
.ui-tarjeta {
  width: 100%;
}

.ui-tarjeta{
  margin: 0 auto;
  padding: 48px;
  border-top: 4px solid var(--ui-primario);
  // background-image: linear-gradient(to bottom, var(--ui-primario) 0%, var(--ui-primario) 2%, transparent 2%, transparent 100%);
}

.main_formulario {
  display: grid;
  grid-template-columns: repeat(2, minmax(24px, 1fr));
  grid-template-rows: repeat(2, auto);
  row-gap: 16px;
  column-gap: 48px;
  align-items: center;
}

.card:nth-child(1) {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:nth-child(2) {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
}
.card:nth-child(3) {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
}

.card mat-form-field{
  width: 100%;
}

.main_formulario .ui-separator-horizontal.ui-separator-horizontal--gris {
  background: var(--ui-secundario);
}

.main_formulario .main__footer {
  display: flex;
  justify-content: flex-end;
}

.ui-button {
  padding: 0 32px;
}

.ui-button--estado-sistema {
  margin: 0 16px;
}
