.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 56px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.main {
  font-size: 1.2rem;
}

.title {
  margin-bottom: 16px;
}

.header,
.ui-tarjeta {
  width: 100%;
}

.header .buttons {
  display: flex;
  flex-direction: row;
  align-items: end;
}

.ui-tarjeta {
  margin: 0 auto;
  padding: 48px;
  border-top: 4px solid var(--ui-primario);
  // background-image: linear-gradient(to bottom, var(--ui-primario) 0%, var(--ui-primario) 2%, transparent 2%, transparent 100%);
}

.main_formulario {
  display: flex;
  flex-direction: column;
}

.main_formulario .question {
  margin-bottom: 24px;

  & p {
    margin-bottom: 16px;
  }

  & .expansion-answers {
    margin-bottom: 16px;
  }

  & .expansion-locations {
    margin-bottom: 16px;
  }

}

.main_formulario .ui-separator-horizontal.ui-separator-horizontal--gris {
  background: var(--ui-secundario);
  margin-bottom: 24px;
}

.main_formulario .main__footer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 8px;
}

.ui-button {
  padding: 0 32px;
}

.ui-button--estado-sistema {
  margin: 0 16px;
}

.ui-button--ui-secundario {
  padding: 0 24px;
  margin: 0 auto;
}

.checkbox-spinner {
  display: flex;
  align-items: center;

  // add space 8px between
  &>* {
    margin-right: 8px;
  }
}

.add_answer_container {
  display: flex;
  flex-direction: column;
}

.add_answer {
  display: flex;
  align-items: center;

  // add space 8px between
  & .add_answer--input_name,
  & .add_answer--input_name_es {
    flex-grow: 1; // Añadir esta línea
    margin-right: 8px;
    margin-left: 8px;
  }
}

.full-width {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form-locations {
  margin-top: 16px;
}

.new_question_form {
  margin-top: 16px;
}

.add_remove_question_form {
  margin-bottom: 16px;
}

@media only screen and (max-width: 800px) {
  // Agrega aquí tus estilos para dispositivos móviles

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 8px;
  }

  .title {
    margin-bottom: 8px;
  }

  .ui-button {
    padding: 0 32px;
    min-width: 140px;
  }

  .ui-button--ui-secundario {
    padding: 0 16px;
    margin: 0 auto;
  }

  .ui-tarjeta {
    margin: 0 auto;
    padding: 16px;
    border-top: 4px solid var(--ui-primario);
    // background-image: linear-gradient(to bottom, var(--ui-primario) 0%, var(--ui-primario) 2%, transparent 2%, transparent 100%);
  }

  .add_answer {
    display: flex;
    align-items: normal;
    flex-direction: column;

    // add space 8px between
    & .add_answer--input_name,
    & .add_answer--input_name_es {
      flex-grow: 1; // Añadir esta línea
      margin-right: 8px;
      margin-left: 8px;
    }
  }

}

@media only screen and (min-width: 801px) and (max-width: 1650px) {

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 8px;
  }

}
