<div class="container">
  <section class="header">
    <h1 class="title">{{'metrics_participant_title' | translate }}</h1>
    <div class="buttons">
      <mat-spinner *ngIf="loadingCSV" class="login-button" mode="indeterminate" [diameter]="30"></mat-spinner>
      <button id="filtersButton" class="ui-button" type="button" (click)="dialogFilters()">{{'metrics_filters_button' |
        translate }}</button>
    </div>
  </section>
  <mat-chip-set class="chip-grid">
    <ng-container *ngFor="let filterChip of filtersChip; let i = index">
      <mat-chip
        *ngIf="filterChip.code !== 'product_types' && filterChip.code !== 'providers' && filterChip.code !== 'workers' && filterChip.code !== 'stocker_upload' && filterChip.code !== 'delivered_by' && filterChip.code !== 'transported_by' && filterChip.code !== 'workers'"
        (removed)="removeFilterChip(filterChip)">
        {{filterChip.name}}: {{filterChip.value}}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
    </ng-container>
  </mat-chip-set>
  <mat-spinner *ngIf="loadingMetrics" class="loading-questions" mode="indeterminate" [diameter]="30"></mat-spinner>
  <section class="main_tarjetas">
    <div class="ui-tarjeta">
      <div class="chart-container" id="chartRegisterContainer" #chartRegisterContainer>
        <div class="chart-header">
          <h2>{{'metrics_participant_registers_title' | translate }}</h2>
          <button class="ui-button fullscreen" type="button" (click)="toggleFullScreen(chartRegisterContainer)">
            <mat-icon style="font-size: 27px;">{{isFullscreen ? 'fullscreen_exit' : 'fullscreen'}}</mat-icon>
          </button>
        </div>
        <div class="kpis-filtroInterval" *ngIf="!isFullscreen">
          <div>
            <p>{{'metrics_participant_registers_new' | translate }}: {{this.registerMetrics.new | number}}</p>
            <br>
            <p>{{'metrics_participant_registers_recurring' | translate }}: {{this.registerMetrics.recurring | number}}
            </p>
            <br>
            <p>{{'metrics_participant_registers_total_selected' | translate }}:
              {{(this.registerMetrics.new+this.registerMetrics.recurring) | number}}</p>
            <br>
            <p>{{'metrics_participant_registers_total' | translate }}: {{ this.registerMetrics.total | number}}</p>
            <br>
            <p>{{'metrics_participant_registers_participations' | translate }}: {{this.registerMetrics.participations | number}}
            </p>
            <br>
          </div>
          <form [formGroup]="filterForm" class="filtros">
            <mat-form-field appearance="outline">
              <mat-label>{{'metrics_product_filter_interval' | translate }}</mat-label>
              <mat-select formControlName="interval">
                <mat-option *ngFor="let interval of intervals" [value]="interval.id">
                  {{interval.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </form>
        </div>
        <!-- espacio para fullscreen -->
        <div *ngIf="isFullscreen">
          <br>
          <br>
          <br>
          <br>
        </div>
        <div id="chartStacked" #chartRegisterHistory *ngIf="chartOptionsRegisterHistory">
          <apx-chart [series]="chartOptionsRegisterHistory.series" [chart]="chartOptionsRegisterHistory.chart"
            [labels]="chartOptionsRegisterHistory.labels" [legend]="chartOptionsRegisterHistory.legend"
            [colors]="chartOptionsRegisterHistory.colors" [responsive]="chartOptionsRegisterHistory.responsive"
            [theme]="chartOptionsRegisterHistory.theme" [dataLabels]="chartOptionsRegisterHistory.dataLabels"
            [tooltip]="chartOptionsRegisterHistory.tooltip" [plotOptions]="chartOptionsRegisterHistory.plotOptions"
            [xaxis]="chartOptionsRegisterHistory.xaxis" [fill]="chartOptionsRegisterHistory.fill"></apx-chart>
        </div>
      </div>
    </div>
    <div class="ui-tarjeta">
      <div class="chart-container" id="chartYESNOEmailContainer" #chartYESNOEmailContainer>
        <div class="chart-header">
          <h2>{{'metrics_participant_with_email_title' | translate }}</h2>
          <button class="ui-button fullscreen" type="button" (click)="toggleFullScreen(chartYESNOEmailContainer)">
            <mat-icon style="font-size: 27px;">{{isFullscreen ? 'fullscreen_exit' : 'fullscreen'}}</mat-icon>
          </button>
        </div>
        <div id="chartYESNOEmail" #chartYESNOEmail *ngIf="chartOptionsEmail">
          <apx-chart [series]="chartOptionsEmail.series" [chart]="chartOptionsEmail.chart"
            [labels]="chartOptionsEmail.labels" [legend]="chartOptionsEmail.legend" [colors]="chartOptionsEmail.colors"
            [responsive]="chartOptionsEmail.responsive" [theme]="chartOptionsEmail.theme"
            [dataLabels]="chartOptionsEmail.dataLabels" [tooltip]="chartOptionsEmail.tooltip"></apx-chart>
        </div>
      </div>
    </div>
    <div class="ui-tarjeta">
      <div class="chart-container" id="chartYESNOPhoneContainer" #chartYESNOPhoneContainer>
        <div class="chart-header">
          <h2>{{'metrics_participant_with_phone_title' | translate }}</h2>
          <button class="ui-button fullscreen" type="button" (click)="toggleFullScreen(chartYESNOPhoneContainer)">
            <mat-icon style="font-size: 27px;">{{isFullscreen ? 'fullscreen_exit' : 'fullscreen'}}</mat-icon>
          </button>
        </div>
        <div id="chartYESNOPhone" #chartYESNOPhone *ngIf="chartOptionsPhone">
          <apx-chart [series]="chartOptionsPhone.series" [chart]="chartOptionsPhone.chart"
            [labels]="chartOptionsPhone.labels" [legend]="chartOptionsPhone.legend" [colors]="chartOptionsPhone.colors"
            [responsive]="chartOptionsPhone.responsive" [theme]="chartOptionsPhone.theme"
            [dataLabels]="chartOptionsPhone.dataLabels" [tooltip]="chartOptionsPhone.tooltip"></apx-chart>
        </div>
      </div>
    </div>
    <div class="ui-tarjeta">
      <div class="chart-container" id="chartLocationNewRecurring" #chartLocationNewRecurring>
        <div class="chart-header">
          <h2>{{'metrics_participant_location_new_recurring_title' | translate }}</h2>
          <button class="ui-button fullscreen" type="button" (click)="toggleFullScreen(chartLocationNewRecurring)">
            <mat-icon style="font-size: 27px;">{{isFullscreen ? 'fullscreen_exit' : 'fullscreen'}}</mat-icon>
          </button>
        </div>
        <div *ngIf="isFullscreen">
          <br>
          <br>
          <br>
          <br>
        </div>
        <div id="chartStacked" #chartLocationNewRecurring *ngIf="chartOptionsLocationNewRecurring">
          <apx-chart [series]="chartOptionsLocationNewRecurring.series" [chart]="chartOptionsLocationNewRecurring.chart"
            [labels]="chartOptionsLocationNewRecurring.labels" [legend]="chartOptionsLocationNewRecurring.legend"
            [colors]="chartOptionsLocationNewRecurring.colors" [responsive]="chartOptionsLocationNewRecurring.responsive"
            [theme]="chartOptionsLocationNewRecurring.theme" [dataLabels]="chartOptionsLocationNewRecurring.dataLabels"
            [tooltip]="chartOptionsLocationNewRecurring.tooltip" [plotOptions]="chartOptionsLocationNewRecurring.plotOptions"
            [xaxis]="chartOptionsLocationNewRecurring.xaxis" [fill]="chartOptionsLocationNewRecurring.fill"></apx-chart>
        </div>
      </div>
    </div>
  </section>
</div>
