<div class="container">
    <div class="header" >
        <h1 class="title">Ditor <img src="../../../../assets/icons/next.svg" style="height: 30px;">  Misiones</h1>
     <br>
    <div class="input-search">
        <input class="ui-input" type="search" id="search-input" placeholder="Buscar">
    </div>
</div>
<div class="container-table"> 
    <app-tablas [datosTabla]="this.listaMisionesCompletadas"></app-tablas>
  
<div class="pie">
  <div class="right-pie">
    <a class="ui-link">Exportar como .csv</a>
  </div>
</div>
</div>
</div>
