<div class="container">
    <div class="header" >
        <h1 class="title">Ditors <img src="../../../../assets/icons/next.svg" style="height: 30px;">  Misiones</h1>
     <br>
    <div class="input-search">
        <input class="ui-input" type="search" id="search-input" placeholder="Buscar">
    </div>
</div>
<div class="container-table">
    <mat-tab-group (selectedTabChange)="changeTab($event)">
        <mat-tab>
        <ng-template mat-tab-label > 
         
            <div class="left-content">
              <div class="left-content-1">
                <img src="../../../../assets/icons/campanias-activas.svg"  style="width: 26px;">
              </div>
            </div><strong style="margin-left: 7px;">Disponibles</strong>
          
          </ng-template>  
          <app-tablas [datosTabla]="this.listaMisiones"></app-tablas>
        </mat-tab>  
        <mat-tab >
          <ng-template mat-tab-label > 
           <div class="left-content">
              <div class="left-content-1">
                <img src="../../../../assets/icons/ocultar.svg" alt="Icono de completadas" style="width: 26px;">
              </div>
            </div><strong>Proximos a vencer</strong>
          </ng-template>  
          
          <app-tablas [datosTabla]="this.listaMisiones"></app-tablas>
        </mat-tab>
        <mat-tab >
          <ng-template mat-tab-label > 
           <div class="left-content">
              <div class="left-content-1">
                <img src="../../../../assets/icons/finalizadas.svg" alt="Icono de canceladas" style="width: 26px;">
              </div>
            </div><strong>Completadas</strong>
          </ng-template>  
          <app-tablas [datosTabla]="this.listaCompletadas"></app-tablas>
        </mat-tab>
        <mat-tab >
            <ng-template mat-tab-label > 
             <div class="left-content">
                <div class="left-content-1">
                  <img src="../../../../assets/icons/tiempo.svg" alt="Icono de tiempo" style="width: 26px;">
                </div>
              </div><strong>En vivo</strong>
            </ng-template>  
            <app-tablas [datosTabla]="this.listaEnVivo"></app-tablas>
          </mat-tab>
      </mat-tab-group>
      <div class="pie">
        <div class="right-pie">
          <a class="ui-link">Exportar como .csv</a>
        </div>
      </div>
    
</div>


</div>


