<div class="container">
    <div class="header" >
     <h1 class="title">Ditors</h1>
        <div class="input-search">
            <input class="ui-input" type="search" id="search-input" placeholder="Buscar">
             <span class="search-icon"  style="background-image: url('../../../../assets/icons/search.svg') "></span> 
         </div>
      
    </div>
       <div class="boton-nuevo-ditor">
          <button routerLink="/clientes/particular/nuevo-articulo" class="ui-add-button">
            <div class="center-content">
              <img src="../../../../assets/icons/añadir-perfil.svg" alt="Icono de añadir perfil">
              <span class="add-text">Nuevo Ditor</span>
            </div>
          </button>
         </div>
    <div class="ditors-en-vivo">
      <div class="ui-tarjeta">
        <div class="header-titulo">Ditors en VIVO</div>
       
         <div class="content">
            <div class="left-content">
              <div class="left-content-1">
                <img src="../../../../assets/icons/tiempo-blanco.svg" alt="Icono de tiempo">
              </div>
              <div class="left-content-2">
                <span>200</span>
              </div>
            </div>
           
          </div>
        </div>
      </div>
      <div class="ditors-activos">
        <div class="ui-tarjeta">
          <div class="header-titulo">Ditors Activos</div>
         
           <div class="content">
              <div class="left-content">
                <div class="left-content-1">
                  <img src="../../../../assets/icons/ditors.svg" alt="Icono de tiempo">
                </div>
                <div class="left-content-2">
                  <span>300 <a style="font-size: 10px;">(30%)</a></span>
                </div>
              </div>
              <div class="right-content">
                <div class="right-content-1">
                  <img class="img" src="../../../../assets/icons/arrow-up-green.svg" alt="Icono de arrow-up">
                </div>
                <div class="right-content-2">
                  <span class="img">+ 12,34%</span>
                </div>
              </div>
             
            </div>
            <div class="pie">
              <div class="left-pie"></div>
              <div class="right-pie">
                <a class="ui-link">Ver listado ></a>
              </div>
            </div>
          </div>
        </div>
        <div class="misiones-disponibles">
          <div class="ui-tarjeta">
            <div class="header-titulo">Misiones Disponibles</div>
           
             <div class="content">
                <div class="left-content">
                  <div class="left-content-1">
                    <img src="../../../../assets/icons/misiones-disponibles.svg" alt="Icono de misiones">
                  </div>
                  <div class="left-content-2">
                    <span>1.402</span>  
                  </div>
                  <div class="right-content">
                    <div class="right-content-1">
                      <img class="img" src="../../../../assets/icons/arrow-up-green.svg" alt="Icono de arrow-up">
                    </div>
                    <div class="right-content-2">
                      <span class="img">+ 10,00%</span>
                    </div>
                  </div>
                </div>
               
              </div>
              <div class="pie">
                <div class="left-pie"></div>
                <div class="right-pie">
                  <a class="ui-link">Ver listado ></a>
                </div>
              </div>
            </div>
          </div> 
          <div class="total-reclamos">
            <div class="ui-tarjeta">
              <div class="header-titulo">Total Reclamos</div>
             
               <div class="content">
                  <div class="left-content">
                    <div class="left-content-1">
                      <img src="../../../../assets/icons/eliminar.svg" alt="Icono de eliminar">
                    </div>
                    <div class="left-content-2">
                      <span>8</span>  
                    </div>
                    <div class="right-content">
                      <div class="right-content-1">
                        <img class="img" src="../../../../assets/icons/arrow-up-green.svg" alt="Icono de arrow-up">
                      </div>
                      <div class="right-content-2">
                        <span class="img">+ 1,26%</span>
                      </div>
                    </div>
                  </div>
                 
                </div>
                <div class="pie">
                  <div class="left-pie"></div>
                  <div class="right-pie">
                    <a class="ui-link">Ver listado ></a>
                  </div>
                </div>
              </div>
            </div> 
            <div class="grafico-barras">
              <div class="ui-grafico-barras">
                <div class="content">
                  <div class="left-content">
                    <div class="left-content-1">
                     <div class="header-titulo">Saldos sin retirar: </div> 
                     <br>
                     <div class="header-titulo">Total en revision: </div> 
                     <br>
                     <div class="header-titulo">Potencial a pagar: </div>  
                     
                   </div>
                   <div class="icono-credito">
                    <div class="left-content">
                      <div class="left-content-1">
                       <img class="img" src="../../../../assets/icons/linea-de-credito.svg" alt="Icono de linea de credito" style="margin-left: 70px">
                       <div>
                        <img class="img" src="../../../../assets/icons/linea-de-credito.svg" alt="Icono de linea de credito"style="margin-left: 70px">
                       </div>
                       <div>
                        <img class="img" src="../../../../assets/icons/linea-de-credito.svg" alt="Icono de linea de credito"style="margin-left: 70px">
                       </div>
                       
                      </div>
                    </div>
                   </div>
                </div>
                <div class="barras-content">
                  <div class="progress-bar">
                    <div class="progress-bar-fill" id="barra1" ></div>
                  </div>
                  <br>
                  <div class="progress-bar2">
                    <div class="progress-bar-fill" id="barra2" ></div>
                  </div>
                  <br>
                  <div class="progress-bar3">
                    <div class="progress-bar-fill-rojo" id="barra3" ></div>
                  </div>
                  
                </div>
                
                <div class="content-right" style="margin-right: 5%;">
                  <div class="col-sm">
                    <div class="row">
                      <div class="header-titulo">$5.000.000 </div>
                    </div>   
                    <br>
                    <div class="row">
                      <div class="header-titulo">$3.800.000 </div>
                    </div> 
                    <br>
                    <div class="row">
                      <div class="header-titulo">$1.000.000 </div>
                    </div> 
                    <br>
                  
                  </div>
                </div>
              </div>  
            </div> 
          </div>
          <div class="map-container">
            <div class="ui-tarjeta" style="padding:3px 2% 3px;">
              <app-mapa-dashboard-home></app-mapa-dashboard-home>
            </div>
          </div>
              <div class="ditors-inactivos">
                <div class="ui-tarjeta">
                  <div class="header-titulo">Ditors Inactivos</div>
                 
                   <div class="content">
                      <div class="left-content">
                        <div class="left-content-1">
                          <img src="../../../../assets/icons/ditors.svg" alt="Icono de ditors">
                        </div>
                        <div class="left-content-2">
                          <span>1.402</span>  
                        </div>
                        <div class="right-content">
                          <div class="right-content-1">
                            <img class="img" src="../../../../assets/icons/arrow-up-green.svg" alt="Icono de arrow-up">
                          </div>
                          <div class="right-content-2">
                            <span class="img">+ 10,00%</span>
                          </div>
                        </div>
                      </div>
                     
                    </div>
                    <div class="pie">
                      <div class="left-pie"></div>
                      <div class="right-pie">
                        <a class="ui-link">Ver listado ></a>
                      </div>
                    </div>
                  </div>
                </div>  
                <div class="ditors-total">
                  <div class="ui-tarjeta">
                    <div class="header-titulo">Total Ditors</div>
                   
                     <div class="content">
                        <div class="left-content">
                          <div class="left-content-1">
                            <img src="../../../../assets/icons/ditors.svg" alt="Icono de ditors">
                          </div>
                          <div class="left-content-2">
                            <span>1.402</span>  
                          </div>
                          <div class="right-content">
                            <div class="right-content-1">
                              <img class="img" src="../../../../assets/icons/arrow-up-green.svg" alt="Icono de arrow-up">
                            </div>
                            <div class="right-content-2">
                              <span class="img">+ 10,00%</span>
                            </div>
                          </div>
                        </div>
                       
                      </div>
                      <div class="pie">
                        <div class="left-pie"></div>
                        <div class="right-pie">
                          <a class="ui-link">Ver listado ></a>
                        </div>
                      </div>
                    </div>
                  </div>      
                  <div class="descargas-app">
                    <div class="ui-tarjeta">
                      <div class="header-titulo">Descargas de la app</div>
                     
                       <div class="content">
                          <div class="left-content">
                            <div class="left-content-1">
                              <img src="../../../../assets/icons/download.svg" alt="Icono de descarga">
                            </div>
                            <div class="left-content-2">
                              <span>1.000</span>  
                            </div>
                        </div>
                      </div>
                    </div>      
                  </div>
                  <div class="capacidad-misiones">
                    <div class="ui-tarjeta">
                      <div class="header-titulo">Capacidad Misiones</div>
                     
                       <div class="content">
                          <div class="left-content">
                            <div class="left-content-1">
                              <img src="../../../../assets/icons/capacidad-de-misiones.svg" alt="Icono de capacidad misiones">
                            </div>
                            <div class="left-content-2">
                              <span>1.000</span>  
                            </div>
                            <div class="right-content">
                              <div class="right-content-1">
                                <img class="img" src="../../../../assets/icons/arrow-up-green.svg" alt="Icono de arrow-up">
                              </div>
                              <div class="right-content-2">
                                <span class="img">+ 10,00%</span>
                              </div>
                            </div>
                          </div>
                         
                        </div>
                        <div class="pie">
                          <div class="left-pie"></div>
                          <div class="right-pie">
                            <a class="ui-link">Ver ></a>
                          </div>
                        </div>
                      </div>
                   </div>  
                   <div class="por-vencer">
                    <div class="ui-tarjeta">
                      <div class="header-titulo">Por vencer</div>
                     
                       <div class="content">
                          <div class="left-content">
                            <div class="left-content-1">
                              <img src="../../../../assets/icons/finalizadas.svg" alt="Icono de por vencer">
                            </div>
                            <div class="left-content-2">
                              <span>1.402</span>  
                            </div>
                            <div class="right-content">
                              <div class="right-content-1">
                                <img class="img" src="../../../../assets/icons/arrow-up-green.svg" alt="Icono de arrow-up">
                              </div>
                              <div class="right-content-2">
                                <span class="img">+ 10,00%</span>
                              </div>
                            </div>
                          </div>
                         
                        </div>
                        <div class="pie">
                          <div class="left-pie"></div>
                          <div class="right-pie">
                            <a class="ui-link">Ver listado ></a>
                          </div>
                        </div>
                      </div>
                    </div> 
                    <div class="completadas-hoy">
                      <div class="ui-tarjeta">
                        <div class="header-titulo">Por vencer</div>
                       
                         <div class="content">
                            <div class="left-content">
                              <div class="left-content-1">
                                <img src="../../../../assets/icons/finalizadas.svg" alt="Icono de por vencer">
                              </div>
                              <div class="left-content-2">
                                <span>1.402</span>  
                              </div>
                              <div class="right-content">
                                <div class="right-content-1">
                                  <img class="img" src="../../../../assets/icons/arrow-up-green.svg" alt="Icono de arrow-up">
                                </div>
                                <div class="right-content-2">
                                  <span class="img">+ 10,00%</span>
                                </div>
                              </div>
                            </div>
                           
                          </div>
                          <div class="pie">
                            <div class="left-pie"></div>
                            <div class="right-pie">
                              <a class="ui-link">Ver listado ></a>
                            </div>
                          </div>
                        </div>
                      </div> 
</div>




