.container {
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    grid-template-rows: 90px repeat(5, minmax(100px, 105px));
    gap: 32 px;
    justify-content: center;
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 15px;

  }
  .saldos {
    margin-left: 20%;
    grid-column: 2 / 2;
    grid-row: 1 / 1;
    width: 87%;
}
.saldos .ui-tarjeta {
    padding: 15px 10% 0px;
    width: 100%;
    height: 50%;
    position: relative;
    color: var(--texto-primario);
    margin-top: 40px;
    border-radius: 8px;
    background: #FFF4E7;
    & .center-content {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.0rem;
    font-weight: 600;

    // margin-top: 5px;
    }

    & .ui-tarjeta__header {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 16px;
    text-align: center;
    }

    & .ui-tarjeta__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;

    & img {
        width: 30px;
    }

    & span {
        margin: 0 8px;
    }
    }
}
  .carga-simple{
    grid-column: 1 / 5;
    grid-row: 2 / 6;
    width: 85%;


    & .ui-tarjeta {
      margin: 0 auto;
      padding: 32px 64px;
      background-image: linear-gradient(to bottom, var(--ui-primario) 0%, var(--ui-primario) 2%, transparent 2%, transparent 100%);
    }
  }
  // .datosAcerca{
  //   grid-column: 1 / 3;
  //   align-items: center;

  // }
  // .infoAcerca{
  //   grid-column: 3 / 3;
  //   margin-right: 40px;
  // }

  // .grid-carga-simple {
  //   display: grid;
  //   grid-template-columns: repeat(2,minmax(100px, 1fr));
  //   grid-template-rows: 40px 40px repeat(14, minmax(30px, 1fr)) 40px 0px;
  //   column-gap: 40px;
  //   align-items: center;

  //   & label {
  //     font-family: var(--fuente);
  //     font-style: normal;
  //     font-weight: 400;
  //     font-size: 1.3rem;
  //     line-height: 39px;
  //     display: flex;
  //     align-items: left;

  //     color: #000000;
  //     margin-left: 1%;
  //   }

  //   & .ui-input {
  //     width: 55%;
  //     background-color: rgba(93, 93, 94, 0.05);
  //   }

  //   & .ui-input:focus {
  //     background-color: #fff;
  //   }

  //   & .ui-input::placeholder {
  //     opacity: 0.3;
  //   }


  // }
  .top-rank{
    grid-column: 3/3;
    grid-row: 1 /1;
    margin-left: 120px;
    margin-top: 60px;
    width: 100%;

  }
  .grid-carga-simple .infoAcerca {
    grid-column: 3 / 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .grid-carga-simple .datosAcerca {
    grid-column: 1 / 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .divider-vertical {
    border-left: 2px solid #B1B1B1; /* Puedes ajustar el color y el grosor del borde según tus necesidades */
    height: 120%; /* Ajusta la altura del divisor según tus necesidades */
    margin-left: 110px;
    margin-top: -35px;
  }
  .nivel{
    grid-row: 1 / 1;
    grid-column: 4 / 4;
    margin-right: 200px;


  }
  .title2 {
    font-family: var(--fuente);
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;

    color: #000000;

  }
  .subtitle{
    font-family: var(--fuente);
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;

    color: #000000;
  }
  .circulo {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	background: #dfc47d;
	display: block;
	justify-content: center;
	align-items: center;
	text-align: center;
    margin-left: 45px;
    margin-top: -18px;
    padding: 2.5%;
    padding-left: 4%;
    grid-row: 1 / 1;
    grid-column: 4 / 4;


}
.circulo > h2 {
	font-family: sans-serif;
	color: white;
	font-size: 1.2rem;
	font-weight: bold;
    justify-content: center;

	text-align: center;
}
.grid-carga-simple .ui-tarjeta {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 950px;
  width: 1100px;
  margin: 0 auto;
  padding: 32px 64px;
  background-image: linear-gradient(to bottom, var(--ui-primario) 0%, var(--ui-primario) 2%, transparent 2%, transparent 100%);


  & header {
    font-size: 2.0rem;
    font-weight: 600;
    margin-bottom: 24px;
    color: var(--texto-primario);
  }

  & .misiones-activas__fila {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    border-bottom: 1px solid var(--ui-secundario);
    padding-bottom: 16px;
  }

  & .misiones-activas__fila__header {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--texto-primario);
  }

  & .misiones-activas__fila__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    font-size: 1.2rem;
    font-weight: 400;

    // & .misiones-activas__izquierda{
    //   // texto alineado a la izquierda
    // }
    & .misiones-activas__derecha {
      text-align: right;
    }
  }

  & footer {
    display: flex;
    justify-content: center;
    margin-top: 32px;
  }

}
.ui-tarjeta {
  padding: 16px;
  width: 100%;
  height: 100%;

  & .ui-tarjeta__header {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 16px;
    text-align: center;
    color: var(--texto-primario);
  }

  & .ui-tarjeta__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.0rem;
    font-weight: 600;
    color: var(--texto-primario);

    & img {
      width: 28px;
    }

    & span {
      margin: 0 8px;
    }
  }
}
