<div class="container">
    <div class="header" >
        <h1 class="title" style="margin-top: 40px;">Ditor <img src="../../../../assets/icons/next.svg" style="height: 30px;margin-left: 20px;margin-top: 5px;"> <a class="title"style="color: var(--estado-sistema); font-size: 15px;margin-top:5px;">{{this.listaDatos.nombre}}</a> </h1>
   
    </div>
    <div class="saldos">
        <div class="ui-tarjeta">  
           <span> <h2 class="title2" style="margin-left: 15px; margin-top: -5px;">$250</h2>
            <a class="subtitle" style="margin-left: -10px;"><strong>Saldo disponible </strong></a>
          </span>  
           <div class="divider-vertical"></div>
           <span> <h2 class="title2" style="margin-left: 70%; margin-top: -30px;">$1.000</h2>
            <a class="subtitle" style="margin-left: 60%;"><strong>Saldo pendiente</strong></a>
          </span>
         </div>
            
    </div>
       
    
    <div class="top-rank">
        <div class="title2">Top 100 ranking</div>
     </div>
     <div class="nivel">
        <div class="title2" style="margin-top: 60px;">Nivel:</div><span class="circulo"><h2>8</h2></span>
     </div>
    <!-- <div class="carga-simple">
        <div class="ui-tarjeta">
         <div class="grid-carga-simple">
            
            <div class="datosAcerca" >
              <label ><strong>DNI:</strong></label>
            </div>
            <div class="infoAcerca">
             <label>{{this.listaDatos.nombre}}</label>
            </div>  
            <div class="datosAcerca" >
              <label ><strong>Nacionalidad:</strong></label>
            </div>
            <div class="infoAcerca">
              <label>{{this.listaDatos.nacionalidad}}</label>  
            </div>      
            <div class="datosAcerca" >
              <label > <strong>Genero:</strong></label>
            </div>
            <div class="infoAcerca">
              <label>{{this.listaDatos.genero}}</label>
            </div>
           
             <div class="datosAcerca" >
                  <label><strong>Direccion:</strong></label>
                </div>
                <div class="infoAcerca">
                <label >{{this.listaDatos.direccion}}</label>
            </div>
            
             <div class="datosAcerca" >
               <label class="datosAcerca"><strong>Email:</strong></label>
             </div>
             <div class="infoAcerca">
                <label >{{this.listaDatos.email}}</label>
             </div>
             <div class="datosAcerca" >
                <label class="datosAcerca"><strong>Telefono:</strong></label>
              </div>
              <div class="infoAcerca">
                 <label >{{this.listaDatos.telefono}}</label>
              </div>
              <div class="datosAcerca" >
                <label class="datosAcerca"><strong>Fecha de creacion:</strong></label>
              </div>
              <div class="infoAcerca">
                 <label >{{this.listaDatos.fechaCreacion}}</label>
              </div>
              <div class="datosAcerca" >
                <label class="datosAcerca"><strong>Modo de cobro:</strong></label>
              </div>
              <div class="infoAcerca">
                 <label >{{this.listaDatos.modo}}</label>
              </div>
              <div class="datosAcerca" >
                <label class="datosAcerca"><strong>Verificacion de identidad:</strong></label>
              </div>
              <div class="infoAcerca">
                 <label >{{this.listaDatos.verificacion}}</label>
              </div>
              <div class="datosAcerca" >
                <label class="datosAcerca"><strong>Nivel:</strong></label>
              </div>
              <div class="infoAcerca">
                 <label >{{this.listaDatos.nivel}}</label>
              </div>
              <div class="datosAcerca" >
                <label class="datosAcerca"><strong>Experiencia</strong></label>
              </div>
              <div class="infoAcerca" >
                 <label>{{this.listaDatos.exp}}</label>
              </div>
              <div class="datosAcerca" >
                <a class="ui-link">Ver perfil completo</a>
              </div>
              <div class="datosAcerca" >
                <a class="ui-link">Referidos</a>
              </div>
              <div class="datosAcerca" >
                <a class="ui-link">Entrenamientos y certificaciones</a>
              </div>
              <div class="datosAcerca" >
                <a class="ui-link">Historial de misiones</a>
              </div>
              <div class="datosAcerca" >
                <a class="ui-link">Saldos y retiros</a>
              </div>
             </div>

        </div>
    </div> -->
    <div class="grid-carga-simple">
      <div class="ui-tarjeta">
        <main>
          <div class="misiones-activas__fila">
            <div class="misiones-activas__fila__header">
            <div class="misiones-activas__fila__footer">
              <div class="misiones-activas__izquierda">DNI</div>
              <div class="misiones-activas__derecha">
                <a >{{this.listaDatos.dni}}</a>
              </div>
            </div>
            </div>
          </div>
          <div class="misiones-activas__fila">
            <div class="misiones-activas__fila__header">
            <div class="misiones-activas__fila__footer">
              <div class="misiones-activas__izquierda">Nacionalidad</div>
              <div class="misiones-activas__derecha">
                <a >{{this.listaDatos.nacionalidad}}</a>
              </div>
            </div>
            </div>
          </div>
          <div class="misiones-activas__fila">
            <div class="misiones-activas__fila__header">
            <div class="misiones-activas__fila__footer">
              <div class="misiones-activas__izquierda">Género</div>
              <div class="misiones-activas__derecha">
                <a >{{this.listaDatos.genero}}</a>
              </div>
            </div>
            </div>
          </div>
          <div class="misiones-activas__fila">
            <div class="misiones-activas__fila__header">
            <div class="misiones-activas__fila__footer">
              <div class="misiones-activas__izquierda">Dirección</div>
              <div class="misiones-activas__derecha">
                <a >{{this.listaDatos.direccion}}</a>
              </div>
            </div>
            </div>
          </div>
          <div class="misiones-activas__fila">
            <div class="misiones-activas__fila__header">
            <div class="misiones-activas__fila__footer">
              <div class="misiones-activas__izquierda">Email</div>
              <div class="misiones-activas__derecha">
                <a >{{this.listaDatos.email}}</a>
              </div>
            </div>
            </div>
          </div>
          <div class="misiones-activas__fila">
            <div class="misiones-activas__fila__header">
            <div class="misiones-activas__fila__footer">
              <div class="misiones-activas__izquierda">Teléfono</div>
              <div class="misiones-activas__derecha">
                <a >{{this.listaDatos.telefono}}</a>
              </div>
            </div>
            </div>
          </div>
          <div class="misiones-activas__fila">
            <div class="misiones-activas__fila__header">
            <div class="misiones-activas__fila__footer">
              <div class="misiones-activas__izquierda">Fecha de creación</div>
              <div class="misiones-activas__derecha">
                <a>{{this.listaDatos.fecha}}</a>
              </div>
            </div>
            </div>
          </div>
          <div class="misiones-activas__fila">
            <div class="misiones-activas__fila__header">
            <div class="misiones-activas__fila__footer">
              <div class="misiones-activas__izquierda">Modo de cobro</div>
              <div class="misiones-activas__derecha">
                <a style="color: var(--estado-sistema);">{{this.listaDatos.cobro}}</a>
              </div>
            </div>
            </div>
          </div>
          <div class="misiones-activas__fila">
            <div class="misiones-activas__fila__header">
            <div class="misiones-activas__fila__footer">
              <div class="misiones-activas__izquierda">Verificación de identidad</div>
              <div class="misiones-activas__derecha">
                <a >{{this.listaDatos.verificacion}}</a>
              </div>
            </div>
            </div>
          </div>
          <div class="misiones-activas__fila">
            <div class="misiones-activas__fila__header">
            <div class="misiones-activas__fila__footer">
              <div class="misiones-activas__izquierda">Nivel</div>
              <div class="misiones-activas__derecha">
                <a >{{this.listaDatos.nivel}}</a>
              </div>
            </div>
            </div>
          </div>
          <div class="misiones-activas__fila">
            <div class="misiones-activas__fila__header">
            <div class="misiones-activas__fila__footer">
              <div class="misiones-activas__izquierda">Experiencia</div>
              <div class="misiones-activas__derecha">
                <a >{{this.listaDatos.exp}}</a>
              </div>
            </div>
            </div>
          </div>
          <div class="misiones-activas__fila">
            <div class="misiones-activas__fila__header">
            <div class="misiones-activas__fila__footer">
              <div class="misiones-activas__izquierda"><a class="ui-link">Ver perfil completo</a></div>
              
            </div>
            </div>
          </div>
          <div class="misiones-activas__fila">
            <div class="misiones-activas__fila__header">
            <div class="misiones-activas__fila__footer">
              <div class="misiones-activas__izquierda"><a class="ui-link">Referidos</a></div>
              
            </div>
            </div>
          </div>
          <div class="misiones-activas__fila">
            <div class="misiones-activas__fila__header">
            <div class="misiones-activas__fila__footer">
              <div class="misiones-activas__izquierda"><a class="ui-link">Entrenamientos y certificaciones</a></div>
              
            </div>
            </div>
          </div>
          <div class="misiones-activas__fila">
            <div class="misiones-activas__fila__header">
            <div class="misiones-activas__fila__footer">
              <div class="misiones-activas__izquierda"><a class="ui-link">Historial de misiones</a></div>
              
            </div>
            </div>
          </div>
          <div class="misiones-activas__fila">
            <div class="misiones-activas__fila__header">
            <div class="misiones-activas__fila__footer">
              <div class="misiones-activas__izquierda"><a class="ui-link">Saldos y retiros</a></div>
              
            </div>
            </div>
          </div>
        </main>
      </div>
    </div>
</div>

