<div class="container">
  <section class="header">
    <div>
      <h1 class="title">{{'delivery_title' | translate }}</h1>
    </div>
  </section>
  <section class="main">
    <div class="ui-tarjeta ">

      <!-- <form [formGroup]="stockForm" novalidate (ngSubmit)="onSubmit()"> -->
      <div class="main_formulario">
        <!-- donation id -->
        <div class="card" [ngClass]="{'camara-qr': this.scanActive}" [formGroup]="deliveryForm">
          <!-- check if field destination in deliveryForm has value -->
          <div *ngIf="!loading && (!onBoarded || !deliveryForm.controls['destination'].value); else scanner"
            class="full-width">
            <mat-form-field appearance="outline">
              <mat-label>{{'delivery_input_destination' | translate }}</mat-label>
              <mat-select formControlName="destination">
                <mat-option *ngFor="let location of locations" [value]="location.id">
                  {{location.community_city}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="deliveryForm.controls['destination'].hasError('required')">
                {{'delivery_input_destination_error_please' | translate }}
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label *ngIf="deliveryForm.controls['destination'].value">{{'delivery_input_client' | translate
                }}</mat-label>
              <mat-label
                *ngIf="!deliveryForm.controls['destination'].value">{{'delivery_input_client_select_destination' |
                translate }}</mat-label>
              <mat-select formControlName="client_id">
                <mat-option *ngFor="let client of clientsFiltered" [value]="client.id">
                  {{client.short_name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="deliveryForm.controls['client_id'].hasError('required')">
                {{'delivery_input_client_error_please' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
          <div *ngIf="onBoarded && scanPhoneActive" [formGroup]="phoneForm" class="full-width">
            <mat-form-field appearance="outline">
              <mat-label>{{'register_first_tab_input_phone' | translate }}</mat-label>
              <input matInput type="tel" formControlName="phone" required matNumberInput maxlength="10" onlyNumber>
              <mat-error *ngIf="phoneForm.controls['phone'].hasError('invalidPhone') && !phoneForm.controls['phone'].hasError('required') && !phoneForm.controls['phone'].hasError('minlength') && !phoneForm.controls['phone'].hasError('maxlength')">
                {{'delivery_input_phone_error_dont_exist' | translate }}
              </mat-error>
              <mat-error *ngIf="phoneForm.controls['phone'].hasError('required')">
                {{'register_first_tab_input_phone_error_please' | translate }}
              </mat-error>
              <mat-error *ngIf="phoneForm.controls['phone'].hasError('minlength')">
                {{'register_first_tab_input_phone_error_minlength' | translate }}
              </mat-error>
              <mat-error *ngIf="phoneForm.controls['phone'].hasError('maxlength')">
                {{'register_first_tab_input_phone_error_maxlength' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
          <ng-template #scanner>
            <div *ngIf="!loading">
              <div class="scanner-buttons">
              <button *ngIf="!this.scanActive && !this.infoValid && !isReceivingUserErrorNull && !scanPhoneActive" class="qr-button"
                type="button" (click)="scanQR()">
                <mat-icon>qr_code_scanner</mat-icon></button>
              <button *ngIf="!this.scanActive && !this.infoValid && !isReceivingUserErrorNull && !scanPhoneActive" class="qr-button"
                type="button" (click)="scanPhone()">
                <mat-icon>call</mat-icon></button>
              </div>
              <p *ngIf="!this.scanActive && this.infoValid && !isReceivingUserErrorNull && !scanPhoneActive"
                class="ui-text ui-text--ui-secundario">
                {{'delivery_text_beneficiary_authorized' | translate }}<br>
                {{'delivery_text_beneficiary_authorized_press_approved' | translate }}</p>
              <!-- <p *ngIf="!this.scanActive && !this.infoValid && isBeneficiaryLocationError"
                class="ui-text ui-text--ui-secundario">
                {{'delivery_text_beneficiary_error_location' | translate }}</p> -->
              <p *ngIf="!this.scanActive && !this.infoValid && isReceivingUserErrorNull && !scanPhoneActive"
                class="ui-text ui-text--ui-secundario">
                {{'delivery_text_beneficiary_error_id' | translate }}</p>
              <!-- <p *ngIf="!this.scanActive && !this.infoValid && isReceivingLocationErrorNull"
                class="ui-text ui-text--ui-secundario">
                {{'delivery_text_beneficiary_error_location_null' | translate }}</p> -->
              <div *ngIf="this.scanActive">
                <qr-scanner facing="environment" [canvasWidth]="720" [canvasHeight]="720" [stopAfterScan]="true"
                  [updateTime]="500">
                </qr-scanner>
              </div>
            </div>
          </ng-template>
          <mat-spinner *ngIf="loading && !scanPhoneActive" class="login-button" mode="indeterminate" [diameter]="30"></mat-spinner>
        </div>

        <!-- separator -->
        <div class="card ">
          <!-- <div class="ui-separator-horizontal"></div> -->
          <div class="ui-separator-horizontal ui-separator-horizontal--gris"></div>
        </div>

        <div class="card">
          <div class="main__footer">
            <span class="main__footer__span">
              <div
                *ngIf="!(this.userLocation && this.userLocation.id) && locationOrganizationSelected && locationAddressSelected">
                {{'delivery_text_organization' | translate }}:
                {{locationOrganizationSelected}} - {{'delivery_text_address' | translate }}:
                {{locationAddressSelected}}</div>
              <div *ngIf="this.userLocation && this.userLocation.id">{{'delivery_text_organization' | translate }}:
                {{this.userLocation.organization}} - {{'delivery_text_address' | translate }}:
                {{this.userLocation.address}}</div>
            </span>
            <button *ngIf="!loading && (this.scanActive || this.scanPhoneActive || this.infoValid || this.isReceivingUserErrorNull)"
              class="ui-button" type="button" (click)="onCancel()">{{'delivery_button_cancel' | translate }}</button>
            <button
              *ngIf="!loading && onBoarded && !this.scanActive && !this.scanPhoneActive && !this.infoValid && !this.isReceivingUserErrorNull"
              class="ui-button" type="button" (click)="onBoard()">{{'delivery_button_off_board'
              | translate }}</button>
            <button *ngIf="!loading && onBoarded && !this.scanActive" class="ui-button ui-button--ui-secundario"
              type="button" (click)="onSubmit()"
              [disabled]="this.scanActive || !this.infoValid">{{'delivery_button_approved' |
              translate }}</button>
            <button *ngIf="!loading && !onBoarded" class="ui-button ui-button--ui-secundario" type="button"
              (click)="onBoard()" [disabled]="!deliveryForm.valid">
              {{'delivery_button_on_board' | translate }}
            </button>
            <mat-spinner *ngIf="loading" class="login-button" mode="indeterminate" [diameter]="30"></mat-spinner>
          </div>
        </div>
      </div>
      <!-- </form> -->

    </div>
  </section>
</div>
