.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 56px;
}

.main {
  font-size: 1.2rem;
}

.title {
  margin-bottom: 16px;
}

.header,
.ui-tarjeta {
  width: 100%;
}

.ui-tarjeta {
  margin: 0 auto;
  padding: 48px;
  border-top: 4px solid var(--ui-primario);
  // background-image: linear-gradient(to bottom, var(--ui-primario) 0%, var(--ui-primario) 2%, transparent 2%, transparent 100%);
}

.main_formulario {
  display: grid;
  grid-template-columns: repeat(2, minmax(24px, 1fr));
  grid-template-rows: repeat(2, auto);
  row-gap: 16px;
  column-gap: 48px;
  align-items: center;
}

.card:nth-child(1) {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:nth-child(2) {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
}

.card:nth-child(3) {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
}

.full-width {
  width: 100%;
  max-width: 525px;
  display: flex;
  justify-content: center;
}

.card mat-form-field {
  width: 100%;
  max-width: 525px;
}

.main_formulario .ui-separator-horizontal.ui-separator-horizontal--gris {
  background: var(--ui-secundario);
}

.main_formulario .main__footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .main__footer__span {
    margin-right: 10px;
    flex-grow: 1;
  }
}

.ui-button {
  padding: 0 32px;
  min-width: 140px;
}

.ui-button--ui-secundario {
  margin-right: 16px;
}

.ui-text.ui-text--ui-secundario {
  font-size: 2.0rem;
  font-weight: 600;
  color: var(--ui-primario);
}


@media only screen and (max-width: 700px) {
  // Agrega aquí tus estilos para dispositivos móviles

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 16px;
  }

  .title {
    margin-bottom: 8px;
  }

  .ui-tarjeta {
    margin: 0 auto;
    padding: 24px;
    border-top: 4px solid var(--ui-primario);
  }

  .main_formulario .main__footer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    .main__footer__span {
      margin-right: 10px;
      flex-grow: 1;
    }
  }

  .ui-button {
    padding: 0 32px;
    min-width: 140px;
    margin-bottom: 16px;
  }

  .ui-button--ui-secundario {
    margin-right: 0px;
  }
}

@media only screen and (min-width: 701px) and (max-width: 1024px) {
  // Agrega aquí tus estilos para tablets

  .main_formulario .main__footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  button {
    order: 0;
  }

  .main__footer__span {
    margin-top: 16px;
    width: 100%;
    text-align: center;
    order: 1;
  }

}
