<div class="container">
  <div class="dialog-body">
    <p>{{'metrics_filters_title_registration_dates' | translate }}</p>
    <form [formGroup]="filterForm">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{'dialog_download_ticket_csv_input_from_date' | translate }}</mat-label>
        <input matInput [matDatepicker]="miPicker1" formControlName="from_date" (input)="formatDate($event)" maxlength="10" placeholder="01/31/2024">
        <mat-hint>{{'login_recover_password_input_date_of_birth_format' | translate }}</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="miPicker1"></mat-datepicker-toggle>
        <mat-datepicker #miPicker1></mat-datepicker>
        <!-- <mat-error *ngIf="filterForm.controls['from_date'].hasError('required')">
          {{'dialog_download_ticket_csv_input_date_error' | translate }}
        </mat-error> -->
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{'dialog_download_ticket_csv_input_to_date' | translate }}</mat-label>
        <input matInput [matDatepicker]="miPicker2" formControlName="to_date" (input)="formatDate($event)" maxlength="10" placeholder="01/31/2024">
        <mat-hint>{{'login_recover_password_input_date_of_birth_format' | translate }}</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="miPicker2"></mat-datepicker-toggle>
        <mat-datepicker #miPicker2></mat-datepicker>
        <!-- <mat-error *ngIf="filterForm.controls['to_date'].hasError('required')">
          {{'dialog_download_ticket_csv_input_date_error' | translate }}
        </mat-error> -->
      </mat-form-field>

      <br><br>
      <p>{{'metrics_filters_title_locations' | translate }}</p>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{'metrics_filters_input_locations' | translate }}</mat-label>
        <mat-select formControlName="locations" multiple>
          <mat-option *ngFor="let location of locations" [value]="location.id">
            {{location.community_city}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <br>
      <p>{{'metrics_filters_title_providers' | translate }}</p>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{'metrics_filters_input_providers' | translate }}</mat-label>
        <mat-select formControlName="providers" multiple>
          <mat-option *ngFor="let provider of providers" [value]="provider.id">
            {{provider.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <br>
      <p>{{'metrics_filters_title_product_types' | translate }}</p>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{'metrics_filters_input_product_types' | translate }}</mat-label>
        <mat-select formControlName="product_types" multiple>
          <mat-option *ngFor="let product_type of product_types" [value]="product_type.id">
            {{product_type.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </form>
  </div>
  <div class="dialog-footer" mat-dialog-actions>
    <button class="ui-button" (click)="onClickCancelar()">{{'dialog_download_ticket_csv_button_cancel' | translate }}</button>
    <button class="ui-button--ui-secundario" (click)="onClickAceptar()" [disabled]="!filterForm.valid">Apply</button>
  </div>
</div>
