<div class="container">
    <div class="header">
        <h1 class="title">Clientes</h1>
    </div>

    <div class="subheader">
        <h2 class="subtitle">Nuevo Comercio</h2>
    </div>

    <div class="title-1">
        <h3 class="out-title">Carga Masiva</h3>
    </div>

    <div class="carga-masiva">
        <div class="ui-tarjeta">
            <div class="grid-carga-masiva">
                <div class="download">
                    <div class="ui-tarjeta">
                        <img src="../../../../assets/icons/download.svg" alt="Icono de download">
                    </div>
                    <p>Descargar template</p>
                </div>
                <div class="upload">
                    <div class="ui-tarjeta">
                        <img src="../../../../assets/icons/upload.svg" alt="Icono de upload">
                    </div>
                    <p>Subir archivo</p>
                </div>
                <div class="cargar">
                    <button class="ui-button">Cargar</button>
                </div>
            </div>

        </div>
      </div>

      <div class="title-2">
        <h3 class="out-title">Carga Simple</h3>
    </div>

    <div class="carga-simple">
        <div class="ui-tarjeta">
            <form action="">
                <div class="grid-carga-simple">
                    <div class="form-group cliente">
                        <label for="cliente">Cliente</label>
                        <input type="text" class="form-group ui-input" value="Farmacity">
                    </div>
                    <div class="ui-separator-horizontal ui-separator-horizontal--gris"></div>
                    <div class="form-group nombre-fantasia">
                        <label for="nombre-fantasia">Nombre Fantasía</label>
                        <input type="text" class="form-group ui-input" placeholder="Ej: Mercado Chino">
                    </div>
                    <div class="form-group tipo-comercio">
                        <label for="tipo-comercio">Tipo de Comercio</label>
                        <input type="text" class="form-group ui-input" placeholder="Ej: Supermercado">
                    </div>
                    <div class="form-group categoria">
                        <label for="categoria">Categoría</label>
                        <input type="text" class="form-group ui-input">
                    </div>
                    <div class="form-group identificacion">
                        <label for="identificacion">Identificación</label>
                        <input type="text" class="form-group ui-input">
                    </div>
                    <div class="form-group id-cliente">
                        <label for="id-cliente">ID Cliente</label>
                        <input type="text" class="form-group ui-input" value="#C15" disabled>
                    </div>
                    <div class="form-group direccion">
                        <label for="direccion">Dirección</label>
                        <input type="text" class="form-group ui-input" placeholder="Ej: Rivadavia 1250">
                    </div>
                    <div class="form-group localidad">
                        <label for="localidad">Localidad</label>
                        <input type="text" class="form-group ui-input">
                    </div>
                    <div class="form-group provincia">
                        <label for="provincia">Provincia</label>
                        <input type="text" class="form-group ui-input">
                    </div>
                    <div class="form-group pais">
                        <label for="pais">País</label>
                        <input type="text" class="form-group ui-input">
                    </div>
                    <div class="form-group latitud">
                        <label for="latitud">Latitud</label>
                        <input type="text" class="form-group ui-input" placeholder="Campo no obligatorio">
                    </div>
                    <div class="form-group longitud">
                        <label for="longitud">Longitud</label>
                        <input type="text" class="form-group ui-input" placeholder="Campo no obligatorio">
                    </div>
                    <div class="form-group comentarios">
                        <label for="comentarios">Comentarios</label>
                        <input type="text" class="form-group ui-input" placeholder="Campo no obligatorio">
                    </div>
                    <!-- <div class="opcional">*Obligatorio</div> -->
                    <div class="ui-separator-horizontal"></div>
                    <div class="cargar">
                        <button class="ui-button">Cargar</button>
                    </div>

        </div>
            </form>

        </div>
    </div>
</div>

