<div class="container">
    <div class="header" >
        <h1 class="title" style="margin-top: 40px;">Ditor <img src="../../../../assets/icons/next.svg" style="height: 30px;margin-left: 20px;margin-top: 5px;"> <a class="title"style="color: var(--estado-sistema); font-size: 15px;margin-top:5px;">{{this.listaDatos.nombre}}</a> </h1>
   
    </div>
    
    <div class="grid-carga-simple">
        <div class="ui-tarjeta">
          <main>
         
            <div class="misiones-activas__fila">
              <div class="misiones-activas__fila__header">
              <div class="misiones-activas__fila__footer">
                <div class="misiones-activas__izquierda">ID</div>
                <div class="misiones-activas__derecha">
                  <a >{{this.listaDatos.id}}</a>
                </div>
              </div>
              </div>
            </div>
            <div class="misiones-activas__fila">
              <div class="misiones-activas__fila__header">
              <div class="misiones-activas__fila__footer">
                <div class="misiones-activas__izquierda">Fecha de inicio</div>
                <div class="misiones-activas__derecha">
                  <a >{{this.listaDatos.fecha}}</a>
                </div>
              </div>
              </div>
            </div>
            <div class="misiones-activas__fila">
                <div class="misiones-activas__fila__header">
                <div class="misiones-activas__fila__footer">
                  <div class="misiones-activas__izquierda">DNI</div>
                  <div class="misiones-activas__derecha">
                    <a >{{this.listaDatos.dni}}</a>
                  </div>
                </div>
                </div>
              </div>
            <div class="misiones-activas__fila">
              <div class="misiones-activas__fila__header">
              <div class="misiones-activas__fila__footer">
                <div class="misiones-activas__izquierda">CUIT/CUIL</div>
                <div class="misiones-activas__derecha">
                  <a >{{this.listaDatos.cuit}}</a>
                </div>
              </div>
              </div>
            </div>
            <div class="misiones-activas__fila">
              <div class="misiones-activas__fila__header">
              <div class="misiones-activas__fila__footer">
                <div class="misiones-activas__izquierda">Pais</div>
                <div class="misiones-activas__derecha">
                  <a >{{this.listaDatos.pais}}</a>
                </div>
              </div>
              </div>
            </div>
            <div class="misiones-activas__fila">
              <div class="misiones-activas__fila__header">
              <div class="misiones-activas__fila__footer">
                <div class="misiones-activas__izquierda">Provincia</div>
                <div class="misiones-activas__derecha">
                  <a >{{this.listaDatos.provincia}}</a>
                </div>
              </div>
              </div>
            </div>
            <div class="misiones-activas__fila">
              <div class="misiones-activas__fila__header">
              <div class="misiones-activas__fila__footer">
                <div class="misiones-activas__izquierda">Direccion</div>
                <div class="misiones-activas__derecha">
                  <a>{{this.listaDatos.fecha}}</a>
                </div>
              </div>
              </div>
            </div>
            <div class="misiones-activas__fila">
              <div class="misiones-activas__fila__header">
              <div class="misiones-activas__fila__footer">
                <div class="misiones-activas__izquierda">Mail de contacto</div>
                <div class="misiones-activas__derecha">
                  <a style="color: var(--estado-sistema);">{{this.listaDatos.email}}</a>
                </div>
              </div>
              </div>
            </div>
            <div class="misiones-activas__fila">
              <div class="misiones-activas__fila__header">
              <div class="misiones-activas__fila__footer">
                <div class="misiones-activas__izquierda">Telefono de contacto</div>
                <div class="misiones-activas__derecha">
                  <a >{{this.listaDatos.telefono}}</a>
                </div>
              </div>
              </div>
            </div>
            <br><br>
            <div class="misiones-activas__fila">
              <div class="misiones-activas__fila__header">
              <div class="misiones-activas__fila__footer">
              <h2 class="title">Datos Extras - Opcionales</h2> 
              </div>
              </div>
            </div>
            <div class="misiones-activas__fila">
              <div class="misiones-activas__fila__header">
              <div class="misiones-activas__fila__footer">
                <div class="misiones-activas__izquierda">Edad</div>
                <div class="misiones-activas__derecha">
                  <a >{{this.listaDatos.edad}}</a>
                </div>
              </div>
              </div>
            </div>
            <div class="misiones-activas__fila">
                <div class="misiones-activas__fila__header">
                <div class="misiones-activas__fila__footer">
                  <div class="misiones-activas__izquierda">Género</div>
                  <div class="misiones-activas__derecha">
                    <a >{{this.listaDatos.genero}}</a>
                  </div>
                </div>
                </div>
              </div>
              <div class="misiones-activas__fila">
                <div class="misiones-activas__fila__header">
                <div class="misiones-activas__fila__footer">
                  <div class="misiones-activas__izquierda">Dónde vivís?</div>
                  <div class="misiones-activas__derecha">
                    <a >{{this.listaDatos.vivienda}}</a>
                  </div>
                </div>
                </div>
              </div>
              <div class="misiones-activas__fila">
                <div class="misiones-activas__fila__header">
                <div class="misiones-activas__fila__footer">
                  <div class="misiones-activas__izquierda">Con quién vivís?</div>
                  <div class="misiones-activas__derecha">
                    <a >{{this.listaDatos.familia}}</a>
                  </div>
                </div>
                </div>
              </div>
              <div class="misiones-activas__fila">
                <div class="misiones-activas__fila__header">
                <div class="misiones-activas__fila__footer">
                  <div class="misiones-activas__izquierda">Cuántos hijos tenés?</div>
                  <div class="misiones-activas__derecha">
                    <a >{{this.listaDatos.hijos}}</a>
                  </div>
                </div>
                </div>
              </div>
              <div class="misiones-activas__fila">
                <div class="misiones-activas__fila__header">
                <div class="misiones-activas__fila__footer">
                  <div class="misiones-activas__izquierda">Máximo nivel de estudios</div>
                  <div class="misiones-activas__derecha">
                    <a >{{this.listaDatos.estudios}}</a>
                  </div>
                </div>
                </div>
              </div>
              <div class="misiones-activas__fila">
                <div class="misiones-activas__fila__header">
                <div class="misiones-activas__fila__footer">
                  <div class="misiones-activas__izquierda">Experiencia laboral</div>
                  <div class="misiones-activas__derecha">
                    <a >{{this.listaDatos.expLab}}</a>
                  </div>
                </div>
                </div>
              </div>
          </main>
        </div>
  </div>
</div>