.container {
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    grid-template-rows: 90px repeat(5, minmax(100px, 105px));
    gap: 32 px;
    justify-content: center;
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 15px;
    height: 1100px;
   
  }


  .carga-simple{
    grid-column: 1 / 6;
    grid-row: 3 / 6;
    width: 85%;
  

    & .ui-tarjeta {
      margin: 0 auto;
      padding: 32px 64px;
      background-image: linear-gradient(to bottom, var(--ui-primario) 0%, var(--ui-primario) 2%, transparent 2%, transparent 100%);
    }
  }
  
.grid-carga-simple{
    
    grid-row: 2 ;
}
.grid-carga-simple .ui-tarjeta {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 1050px;
  width: 1100px;
  margin: 0 auto;
  padding: 32px 64px;
  background-image: linear-gradient(to bottom, var(--ui-primario) 0%, var(--ui-primario) 2%, transparent 2%, transparent 100%);


  & header {
    font-size: 2.0rem;
    font-weight: 600;
    margin-bottom: 24px;
    color: var(--texto-primario);
  }

  & .misiones-activas__fila {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    border-bottom: 1px solid var(--ui-secundario);
    padding-bottom: 16px;
  }

  & .misiones-activas__fila__header {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--texto-primario);
  }

  & .misiones-activas__fila__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    font-size: 1.2rem;
    font-weight: 400;

    // & .misiones-activas__izquierda{
    //   // texto alineado a la izquierda
    // }
    & .misiones-activas__derecha {
      text-align: right;
    }
  }

  & footer {
    display: flex;
    justify-content: center;
    margin-top: 32px;
  }

}
.ui-tarjeta {
  padding: 16px;
  width: 100%;
  height: 100%;

  & .ui-tarjeta__header {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 16px;
    text-align: center;
    color: var(--texto-primario);
  }

  & .ui-tarjeta__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.0rem;
    font-weight: 600;
    color: var(--texto-primario);

    & img {
      width: 28px;
    }

    & span {
      margin: 0 8px;
    }
  }
}
