.container {
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    grid-template-rows: 90px repeat(5, minmax(100px, 105px));
    gap: 32px;
    justify-content: center;
    max-width: 1300px;
    margin: 0 auto;
  }
  .header-titulo {
    font-size: 1.3rem;
    font-weight: 600;
    text-align: left;
  }

  .header-content {

    display: flex;

    & .content {
      width: 30%;
    }
  }
  .header {

    grid-column: 1 / 1;
    grid-row: 1 / 1;
  }

  .ui-input {
    width: 100%;
    margin-top: 10px;
  }
  .container-table{
    grid-row: 2 / 6;
    grid-column: 1 / 7 ;

   }
   table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 20px;
  }
  th, td {
    font-family: var(--fuente);
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    padding: 8px;
    text-align: center;
    align-items: center;
  }
  th:first-child {

    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  th:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .input-search .search-icon {
    position: absolute;
    top: 50%;
    right: 45%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    margin-top: 6px;
    cursor: pointer;
  }
  .input-search{
    width: 120%;
    margin-left: 0%;
    position: relative;
  }
  .input-search input[type="search"] {
    padding-right: 30px;
  }
  .ui-input {
    width: 60%;
    margin-top: 10px;

  }
