
.logo-cliente {
    background: white;
    border: #FFF4E7;
    border-radius: 5px;
    grid-column: 1 / 2;
    grid-row: 1 / 1  ;
    display: flex;
    justify-content: center;
    width: 70%;
    height: 55%;


 }
 .container {
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    grid-template-rows: 90px repeat(5, minmax(100px, 105px));
    gap: 32 px;
    justify-content: center;
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 15px;

  }
  .header-titulo {
    font-size: 1.3rem;
    font-weight: 600;
    text-align: left;
  }

  .header-content {

    display: flex;

    & .content {
      width: 30%;
    }
  }
  .ui-input {
    width: 60%;
    margin-top: 10px;

  }
  .input-search{
    width: 80%;
    margin-left: 8%;
    position: relative;
  }
  .input-search input[type="search"] {
    padding-right: 30px;
  }

  .input-search .search-icon {
    position: absolute;
    top: 50%;
    right: 45%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    margin-top: 4px;
    cursor: pointer;
  }
  .header {
    padding-left: 40%;
    grid-column: 1 / 3;
    grid-row: 1 / 1;
  }
  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 20px;
  }

  th, td {
    font-family: var(--fuente);
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    padding: 8px;
    text-align: center;
    align-items: center;
  }
  th:first-child {

    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  th:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
 .container-table{
  grid-row: 3 / 6;
  grid-column: 1 / 7 ;

 }

 ::ng-deep .mat-mdc-tab:not(.mat-mdc-tab-disabled) .mdc-tab-indicator__content--underline, .mat-mdc-tab-link:not(.mat-mdc-tab-disabled) .mdc-tab-indicator__content--underline{
  border-color:  #FF7E75  ;
  border-top-width: 3px;

 }



 ::ng-deep .mdc-tab{
  font-family: var(--fuente);
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
 }
 .mat-mdc-menu-trigger{
  border: none;
  background-color: transparent;
  cursor: pointer;
 }
 .boton-campaña {
  grid-column: 2 / 2;
  grid-row: 1 / 1;
  width: 75%;
  height: 80%;
  display: flex;
  justify-content: left;
  align-items: flex-end;
  margin-left: 70%;
  margin-top:  -70px;

}
.ui-add-button {

  width: 65%;
  height: 50%;
  color: var(--texto-primario);
  border-radius: 8px;

}
.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 600;
}
.add-text {
  font-family: var(--fuente);
  font-size: 1.2rem;
  font-weight: 600;
}
.menu-tabla{
  font-family: var(--fuente);
  font-size: 1.3rem;
  font-weight: 600;

  display: flex;

}

::ng-deep .mat-mdc-menu-panel.mat-mdc-menu-panel{
  border-radius: 16px;
  height: 100%;
  align-items: center;
  width: 200px;

}
::ng-deep .mat-mdc-menu-panel.mat-mdc-menu-panel:hover{
  background-color: lightgrey;
}


.pie {
  bottom: 10px;
  margin-left: 90%;
}

.right-pie {
  position:relative;
  bottom: 0px;
  right: 0px;
  width: auto;
}
