<div class="container">
  <section class="header">
      <h1 class="title">{{'metrics_title' | translate }}</h1>
      <button class="ui-button" type="button" (click)="downloadExcel()">{{'metrics_button_download_excel' | translate }}</button>
  </section>
  <section class="main_tarjetas">
    <div class="ui-tarjeta">
      <div class="question">
        <h2>tarjeta 1</h2>
      </div>
      <div id="chart">
        <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [dataLabels]="chartOptions.dataLabels"
          [plotOptions]="chartOptions.plotOptions" [xaxis]="chartOptions.xaxis"></apx-chart>
      </div>
    </div>

    <div class="ui-tarjeta">
      <div class="question">
        <h2>tarjeta 2</h2>
      </div>
      <div id="chart">
        <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [dataLabels]="chartOptions.dataLabels"
          [plotOptions]="chartOptions.plotOptions" [xaxis]="chartOptions.xaxis"></apx-chart>
      </div>
    </div>

    <div class="ui-tarjeta">
      <div class="question">
        <h2>tarjeta 3</h2>
      </div>
      <div id="chart">
        <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [dataLabels]="chartOptions.dataLabels"
          [plotOptions]="chartOptions.plotOptions" [xaxis]="chartOptions.xaxis"></apx-chart>
      </div>
    </div>
  </section>
</div>
