<google-map #map height="100%" width="100%" [options]="mapOptions">
  <map-marker #marker="mapMarker" *ngFor="let markerPosition of markerPositions"
    [position]="markerPosition.position" (mapClick)="openInfoWindow(marker, markerPosition.label)">
  </map-marker>
  <map-info-window>{{ infoContent }}</map-info-window>
</google-map>
<button *ngIf="!disableButtonsLocations" class="ui-button-map" (click)="getEnabledLocations()" #misionesDisponiblesButton>{{'map_button_enabled_locations' | translate }}</button>
<button *ngIf="!disableButtonsLocations" class="ui-button-map" (click)="getTotalLocations()" #misionesActivasButton>{{'map_button_total_locations' | translate }}</button>
