html body app-root app-menu.ng-tns-c88-0.ng-star-inserted section.container.ng-tns-c88-0 div.container__componente-renderizado.ng-tns-c88-0 app-dashboard-clientes.ng-star-inserted div.container div.grafico1 div.ui-tarjeta div.center-content app-grafico-pie-chart-campanias-activas ngx-charts-advanced-pie-chart div div.advanced-pie-legend-wrapper ngx-charts-advanced-legend div.advanced-pie-legend div.total-value.ng-star-inserted {
    font-size: 1.4rem;
}
html body app-root app-menu.ng-tns-c88-0.ng-star-inserted section.container.ng-tns-c88-0 div.container__componente-renderizado.ng-tns-c88-0 app-dashboard-clientes.ng-star-inserted div.container div.grafico1 div.ui-tarjeta div.center-content app-grafico-pie-chart-campanias-activas ngx-charts-advanced-pie-chart div div.advanced-pie-legend-wrapper ngx-charts-advanced-legend div.advanced-pie-legend div.total-label {
    display: none;
}
// html body app-root app-menu.ng-tns-c88-0.ng-star-inserted section.container.ng-tns-c88-0 div.container__componente-renderizado.ng-tns-c88-0 app-dashboard-clientes.ng-star-inserted div.container div.grafico1 div.ui-tarjeta div.center-content app-grafico-pie-chart-campanias-activas ngx-charts-advanced-pie-chart div div.advanced-pie-legend-wrapper {
//     display: none;
// }

// html body app-root app-menu.ng-tns-c88-0.ng-star-inserted section.container.ng-tns-c88-0 div.container__componente-renderizado.ng-tns-c88-0 app-dashboard-clientes.ng-star-inserted div.container div.grafico1 div.ui-tarjeta div.center-content app-grafico-pie-chart-campanias-activas{
//     width: 100px;
// }
#chart {
    max-width: 280px;
    margin: 35px auto;
    margin-right: 30px;
    padding-left: 0;
  }