.container {
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    grid-template-rows: 90px repeat(5, minmax(100px, 105px));
    gap: 32 px;
    justify-content: center;
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 15px;

  }

.container-table{
    grid-row: 4 / 6;
    grid-column: 1 / 7 ;

   }
   ::ng-deep .mat-mdc-tab:not(.mat-mdc-tab-disabled) .mdc-tab-indicator__content--underline, .mat-mdc-tab-link:not(.mat-mdc-tab-disabled) .mdc-tab-indicator__content--underline{
    border-color:  #FF7E75  ;
    border-top-width: 3px;

   }



   ::ng-deep .mdc-tab{
    font-family: var(--fuente);
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
   }
   .pie {
    bottom: 10px;
    width: 100%;
    height: 20px;
     }

.center-pie {
    position: absolute;
    bottom: 0;
    left: 21%;
}

.left-pie {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.right-pie {
  margin-left:90%;
}
.header-titulo {
    font-size: 1.3rem;
    font-weight: 600;
    text-align: left;
  }
  .header-content {

    display: flex;

    & .content {
      width: 30%;
    }
  }
  .header {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }
  .entrenamientos {

    grid-column: 1 / 2;
    grid-row: 2 / 2;
    width: 70%;
    margin-top: 20px;
}
.entrenamientos .ui-tarjeta {
    padding: 15px 10% 0px;
    width: 100%;
    height: 80%;
    position: relative;
    color: var(--texto-primario);
    margin-top: 40px;
    border-radius: 8px;
    background: #FFF4E7;
    & .center-content {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.0rem;
    font-weight: 600;

    // margin-top: 5px;
    }

    & .ui-tarjeta__header {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 16px;
    text-align: center;
    }

    & .ui-tarjeta__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;

    & img {
        width: 30px;
    }

    & span {
        margin: 0 8px;
    }
    }
}
.ui-tarjeta {
  padding: 16px;
  width: 100%;
  height: 100%;

  & .ui-tarjeta__header {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 16px;
    text-align: center;
    color: var(--texto-primario);
  }

  & .ui-tarjeta__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.0rem;
    font-weight: 600;
    color: var(--texto-primario);

    & img {
      width: 28px;
    }

    & span {
      margin: 0 8px;
    }
  }
}
.box{
  color: green;

  font-size: 20px;

}
.right-content {
  display: flex;
  align-items: center;
  margin-left: 90%;
  margin-top: -25px;
}

.right-content-1 img {
  height: 20px;
}

.right-content-2 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #28A745;

}
.realizados {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    width: 70%;
    margin-top: 20px;

}
.realizados .ui-tarjeta {
  padding: 15px 10% 0px;
  width: 100%;
  height: 80%;
  position: relative;
  color: var(--texto-primario);
  margin-top: 40px;
  border-radius: 8px;
  background:white;
  & .center-content {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.0rem;
  font-weight: 600;

  // margin-top: 5px;
  }

  & .ui-tarjeta__header {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 16px;
  text-align: center;
  }

  & .ui-tarjeta__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;

  & img {
      width: 30px;
  }

  & span {
      margin: 0 8px;
  }
  }
}
.subtitle{
  font-family: var(--fuente);
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
    text-align: center;
    margin-left: 40%;

}
.ultimomes {
  grid-column: 3 / 3;
  grid-row: 2 / 2;
  width: 70%;
  margin-top: 20px;

}
.ultimomes .ui-tarjeta {
padding: 15px 10% 0px;
width: 100%;
height: 80%;
position: relative;
color: var(--texto-primario);
margin-top: 40px;
border-radius: 8px;
background:white;
& .center-content {
display: flex;
align-items: center;
justify-content: center;
font-size: 2.0rem;
font-weight: 600;

// margin-top: 5px;
}

& .ui-tarjeta__header {
font-size: 1.2rem;
font-weight: 600;
margin-bottom: 16px;
text-align: center;
}

& .ui-tarjeta__footer {
display: flex;
justify-content: center;
align-items: center;
font-size: 1.5rem;
font-weight: 600;

& img {
    width: 30px;
}

& span {
    margin: 0 8px;
}
}
}
.sinfinalizar {
  grid-column: 4 / 4;
  grid-row: 2 / 2;
  width: 70%;
  margin-top: 20px;

}
.sinfinalizar .ui-tarjeta {
padding: 15px 10% 0px;
width: 100%;
height: 80%;
position: relative;
color: var(--texto-primario);
margin-top: 40px;
border-radius: 8px;
background:white;
& .center-content {
display: flex;
align-items: center;
justify-content: center;
font-size: 2.0rem;
font-weight: 600;

// margin-top: 5px;
}

& .ui-tarjeta__header {
font-size: 1.2rem;
font-weight: 600;
margin-bottom: 16px;
text-align: center;
}

& .ui-tarjeta__footer {
display: flex;
justify-content: center;
align-items: center;
font-size: 1.5rem;
font-weight: 600;

& img {
    width: 30px;
}

& span {
    margin: 0 8px;
}
}
}
