
<div class="container">
    <div class="header" >

        <h1 class="title">Ditor <img src="../../../../assets/icons/next.svg" style="height: 30px;margin-left: 20px;"> <a style="width: 100%;font-size: 20px;color: blue;margin-left: 20px;">Saldos y retiros</a></h1>
  </div>
<div class="container-table">
    <app-tablas [datosTabla]="this.listaMisiones"></app-tablas>
    <div class="pie">
        <div class="right-pie">
          <a class="ui-link">Exportar como .csv</a>
        </div>
      </div>
</div>
</div>