<div class="container">
  <!-- <div class="dialog-body">
    <p>{{'dialog_download_ticket_csv_title' | translate }}</p>
  </div> -->
  <div class="dialog-footer" mat-dialog-actions>
    <button class="ui-button firstpage" type="button" (click)="onClick(1)">{{'dialog_selection_delivered_csv_beneficiary_summary' | translate }}</button>
    <button class="ui-button firstpage" type="button" (click)="onClick(2)">{{'dialog_selection_delivered_csv_delivery_summary' | translate }}</button>
  </div>
</div>
