.container {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  grid-template-rows: repeat(7, minmax(100px, 1fr));
  gap: 32px;
  justify-content: center;
  max-width: 1328px;
  margin: 0 auto;
}

.tarjeta-principal {
  grid-column: 1 / 5;
  grid-row: 1 / 1;
}

.mapa {
  grid-column: 1 / 4;
  grid-row: 2 / 5;
}

.ditors-activos {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

.clientes-activos {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
}

.clientes-activos-porcentaje {
  grid-column: 4 / 5;
  grid-row: 4 / 5;
}

.graficos {
  grid-column: 1 / 3;
  grid-row: 5 / 8;
}

.misiones-activas {
  grid-column: 3 / 5;
  grid-row: 5 / 8;
}

.tarjeta-principal .ui-tarjeta {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ditors-activos .ui-tarjeta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clientes-activos .ui-tarjeta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clientes-activos-porcentaje .ui-tarjeta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ui-tarjeta {
  padding: 16px;
  width: 100%;
  height: 100%;

  & .ui-tarjeta__header {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 16px;
    text-align: center;
    color: var(--texto-primario);
  }

  & .ui-tarjeta__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.0rem;
    font-weight: 600;
    color: var(--texto-primario);

    & img {
      width: 28px;
    }

    & span {
      margin: 0 8px;
    }
  }
}


.misiones-activas .ui-tarjeta {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;


  & header {
    font-size: 2.0rem;
    font-weight: 600;
    margin-bottom: 24px;
    color: var(--texto-primario);
  }

  & .misiones-activas__fila {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    border-bottom: 1px solid #555555;
    padding-bottom: 16px;
  }

  & .misiones-activas__fila__header {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--texto-primario);
  }

  & .misiones-activas__fila__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    font-size: 1.2rem;
    font-weight: 400;

    // & .misiones-activas__izquierda{
    //   // texto alineado a la izquierda
    // }
    & .misiones-activas__derecha {
      text-align: right;
    }
  }

  & footer {
    display: flex;
    justify-content: center;
    margin-top: 32px;
  }

}


// INICIO IMPLEMENTACION DE MAT-TAB SIMPLE
.graficos .ui-tarjeta {
  display: flex;
  flex-direction: column;
  padding: 20px 24px 24px 24px;

  & .header-titulo {
    margin-bottom: 10px;
  }
}

.graficos__tabs-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.graficos__header {
  display: flex;
  justify-content: center;

  & .graficos__boton-header {
    flex-direction: column;
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--texto-primario);
    cursor: pointer;

    & .ui-separator-horizontal {
      margin-bottom: 4px;
    }

    & .graficos__boton-header__contenedor {
      display: inline-block;
      align-self: center;

      & .graficos__tab-nombre {
        text-align: center;
        margin-bottom: 10px;
      }

      & .graficos__tab-numero {
        font-size: 2.0rem;
        text-align: center;
      }

      & .graficos__tab-numero-chico {
        font-size: 1.0rem;
        min-height: 10px;

        &.positivo{
          color: var(--estado-confirmacion);
        }
        &.negativo{
          color: var(--estado-error);
        }
      }
    }

  }

  & .ui-separator-horizontal {
    background: var(--texto-blanco);

    &.graficos__separator--activado {
      background: var(--ui-primario);
    }
  }
}

.center-content {
  // fit the 100% of the parent
  width: 100%;
  height: 100%;
  overflow-x: auto;
}

// FIN IMPLEMENTACION DE MAT-TAB SIMPLE


.mobile {
  @import './dashboard-home-movil.component.scss';
}

.tablet {
  @import './dashboard-home-tablet.component.scss';
}
